SPRITE_DEBUG equ 0
SPRITE_COFFEE_PAL0_BEAN3 equ 1
SPRITE_SPRITES_MUSICPLAYER equ 2
SPRITE_SCRAMBLE_SPRITES equ 3
SPRITE_UNDERGROUND_PAL1 equ 4
SPRITE_UNDERGROUND_PAL1_TILESPRITES equ 5
SPRITE_UNDERGROUND_PAL2 equ 6
SPRITE_UNDERGROUND_PAL1_HUD equ 7
SPRITE_TD_PAL0 equ 8
SPRITE_TD_PAL1 equ 9
SPRITE_COFFEE_PAL0 equ 10
SPRITE_COFFEE_PAL0_BEAN1 equ 11
SPRITE_COFFEE_PAL0_BEAN2 equ 12
SPRITE_COFFEE_PAL1 equ 13
SPRITE_COFFEE_EDITOR equ 14
SPRITE_UNDERGROUND_EDITOR equ 15
SPRITE_COFFEE_PAL0_HUD equ 16
SPRITE_TD_PAL0_TUNNELS equ 17
SPRITE_TD_PAL0_HUDMETER_VDP equ 18
SPRITE_COFFEE_PAL0_SOFTWARESPRITE equ 19
SPRITE_TOTAL equ 20

;-------------------------------------------------------------

SPRFRAME_DEBUG_CORNER equ 0
SPRFRAME_DEBUG_CENTRE equ 1
SPRFRAME_DEBUG_ROTATE0 equ 2
SPRFRAME_DEBUG_ROTATE1 equ 3
SPRFRAME_DEBUG_ROTATE2 equ 4
SPRFRAME_DEBUG_ROTATE3 equ 5
SPRFRAME_DEBUG_ROTATE4 equ 6
SPRFRAME_DEBUG_ROTATE5 equ 7
SPRFRAME_DEBUG_ROTATE6 equ 8
SPRFRAME_DEBUG_ROTATE7 equ 9
SPRFRAME_DEBUG_ROTATE8 equ 10
SPRFRAME_DEBUG_ROTATE9 equ 11
SPRFRAME_DEBUG_ROTATE10 equ 12
SPRFRAME_DEBUG_ROTATE11 equ 13
SPRFRAME_DEBUG_ROTATE12 equ 14
SPRFRAME_DEBUG_ROTATE13 equ 15
SPRFRAME_DEBUG_ROTATE14 equ 16
SPRFRAME_DEBUG_ROTATE15 equ 17
SPRFRAME_DEBUG_ROTATE16 equ 18
SPRFRAME_DEBUG_ROTATE17 equ 19
SPRFRAME_DEBUG_ROTATE18 equ 20
SPRFRAME_DEBUG_ROTATE19 equ 21
SPRFRAME_DEBUG_ROTATE20 equ 22
SPRFRAME_DEBUG_ROTATE21 equ 23
SPRFRAME_DEBUG_ROTATE22 equ 24
SPRFRAME_DEBUG_ROTATE23 equ 25
SPRFRAME_COFFEE_PAL0_BEAN3_0 equ 0
SPRFRAME_COFFEE_PAL0_BEAN3_1 equ 1
SPRFRAME_COFFEE_PAL0_BEAN3_2 equ 2
SPRFRAME_COFFEE_PAL0_BEAN3_3 equ 3
SPRFRAME_COFFEE_PAL0_BEAN3_4 equ 4
SPRFRAME_SPRITES_MUSICPLAYER_0 equ 0
SPRFRAME_SPRITES_MUSICPLAYER_1 equ 1
SPRFRAME_SPRITES_MUSICPLAYER_2 equ 2
SPRFRAME_SPRITES_MUSICPLAYER_3 equ 3
SPRFRAME_SPRITES_MUSICPLAYER_4 equ 4
SPRFRAME_SPRITES_MUSICPLAYER_5 equ 5
SPRFRAME_SPRITES_MUSICPLAYER_DRUM0 equ 6
SPRFRAME_SPRITES_MUSICPLAYER_7 equ 7
SPRFRAME_SPRITES_MUSICPLAYER_8 equ 8
SPRFRAME_SCRAMBLE_SPRITES_PLAYER equ 0
SPRFRAME_SCRAMBLE_SPRITES_PLAYERTHRUST equ 1
SPRFRAME_SCRAMBLE_SPRITES_BOMB equ 2
SPRFRAME_SCRAMBLE_SPRITES_ENEMY1 equ 3
SPRFRAME_SCRAMBLE_SPRITES_ENEMY2 equ 4
SPRFRAME_SCRAMBLE_SPRITES_ENEMY3 equ 5
SPRFRAME_SCRAMBLE_SPRITES_SHOT equ 6
SPRFRAME_SCRAMBLE_SPRITES_EXPLOSION equ 7
SPRFRAME_SCRAMBLE_SPRITES_ENEMYBULLET equ 8
SPRFRAME_UNDERGROUND_PAL1_PLAYER equ 0
SPRFRAME_UNDERGROUND_PAL1_1 equ 1
SPRFRAME_UNDERGROUND_PAL1_ENEMY_JUMPER equ 2
SPRFRAME_UNDERGROUND_PAL1_VENT equ 3
SPRFRAME_UNDERGROUND_PAL1_KILLABLEVENTHOLE equ 4
SPRFRAME_UNDERGROUND_PAL1_BAT0 equ 5
SPRFRAME_UNDERGROUND_PAL1_BAT1 equ 6
SPRFRAME_UNDERGROUND_PAL1_BAT2 equ 7
SPRFRAME_UNDERGROUND_PAL1_PICKUP1 equ 8
SPRFRAME_UNDERGROUND_PAL1_WALLCLIMBER equ 9
SPRFRAME_UNDERGROUND_PAL1_WALLCLIMBERTONGUE equ 10
SPRFRAME_UNDERGROUND_PAL1_WALLCLIMBERTONGUELINK equ 11
SPRFRAME_UNDERGROUND_PAL1_WALLWALKER equ 12
SPRFRAME_UNDERGROUND_PAL1_WALLWALKERTOP equ 13
SPRFRAME_UNDERGROUND_PAL1_CHASER equ 14
SPRFRAME_UNDERGROUND_PAL1_LIMPETMINEUP equ 15
SPRFRAME_UNDERGROUND_PAL1_16 equ 16
SPRFRAME_UNDERGROUND_PAL1_17 equ 17
SPRFRAME_UNDERGROUND_PAL1_18 equ 18
SPRFRAME_UNDERGROUND_PAL1_19 equ 19
SPRFRAME_UNDERGROUND_PAL1_20 equ 20
SPRFRAME_UNDERGROUND_PAL1_LIMPETMINEUP_LAST equ 21
SPRFRAME_UNDERGROUND_PAL1_WALLWALKER2 equ 22
SPRFRAME_UNDERGROUND_PAL1_LIMPETKILLERUP equ 23
SPRFRAME_UNDERGROUND_PAL1_24 equ 24
SPRFRAME_UNDERGROUND_PAL1_25 equ 25
SPRFRAME_UNDERGROUND_PAL1_26 equ 26
SPRFRAME_UNDERGROUND_PAL1_27 equ 27
SPRFRAME_UNDERGROUND_PAL1_28 equ 28
SPRFRAME_UNDERGROUND_PAL1_LIMPETKILLERUP_LAST equ 29
SPRFRAME_UNDERGROUND_PAL1_VENTHOLE equ 30
SPRFRAME_UNDERGROUND_PAL1_31 equ 31
SPRFRAME_UNDERGROUND_PAL1_32 equ 32
SPRFRAME_UNDERGROUND_PAL1_33 equ 33
SPRFRAME_UNDERGROUND_PAL1_34 equ 34
SPRFRAME_UNDERGROUND_PAL1_35 equ 35
SPRFRAME_UNDERGROUND_PAL1_36 equ 36
SPRFRAME_UNDERGROUND_PAL1_VENTHOLE_LAST equ 37
SPRFRAME_UNDERGROUND_PAL1_ENEMY_JUMPER1 equ 38
SPRFRAME_UNDERGROUND_PAL1_WALLWALKER1 equ 39
SPRFRAME_UNDERGROUND_PAL1_WALLCLIMBER1 equ 40
SPRFRAME_UNDERGROUND_PAL1_WALLWALKER2A equ 41
SPRFRAME_UNDERGROUND_PAL1_ENEMY_JUMPERB equ 42
SPRFRAME_UNDERGROUND_PAL1_ENEMY_JUMPERB1 equ 43
SPRFRAME_UNDERGROUND_PAL1_WALLCLIMBER2 equ 44
SPRFRAME_UNDERGROUND_PAL1_FIREBAT0 equ 45
SPRFRAME_UNDERGROUND_PAL1_FIREBAT1 equ 46
SPRFRAME_UNDERGROUND_PAL1_FIREBAT2 equ 47
SPRFRAME_UNDERGROUND_PAL1_FIREBIRDWALK0 equ 48
SPRFRAME_UNDERGROUND_PAL1_FIREBIRDWALK1 equ 49
SPRFRAME_UNDERGROUND_PAL1_FEATHERS0 equ 50
SPRFRAME_UNDERGROUND_PAL1_FEATHERS1 equ 51
SPRFRAME_UNDERGROUND_PAL1_FEATHERS2 equ 52
SPRFRAME_UNDERGROUND_PAL1_FEATHERS3 equ 53
SPRFRAME_UNDERGROUND_PAL1_FLAP equ 54
SPRFRAME_UNDERGROUND_PAL1_55 equ 55
SPRFRAME_UNDERGROUND_PAL1_56 equ 56
SPRFRAME_UNDERGROUND_PAL1_57 equ 57
SPRFRAME_UNDERGROUND_PAL1_58 equ 58
SPRFRAME_UNDERGROUND_PAL1_59 equ 59
SPRFRAME_UNDERGROUND_PAL1_60 equ 60
SPRFRAME_UNDERGROUND_PAL1_FLAPLAST equ 61
SPRFRAME_UNDERGROUND_PAL1_TILESPRITES_FIREBALL equ 0
SPRFRAME_UNDERGROUND_PAL1_TILESPRITES_FIREBALL1 equ 1
SPRFRAME_UNDERGROUND_PAL1_TILESPRITES_FIREBALL2 equ 2
SPRFRAME_UNDERGROUND_PAL1_TILESPRITES_FIREBALL3 equ 3
SPRFRAME_UNDERGROUND_PAL1_TILESPRITES_SPIKE1 equ 4
SPRFRAME_UNDERGROUND_PAL1_TILESPRITES_SPIKE2 equ 5
SPRFRAME_UNDERGROUND_PAL1_TILESPRITES_SPIKE3 equ 6
SPRFRAME_UNDERGROUND_PAL1_TILESPRITES_SPIKE4 equ 7
SPRFRAME_UNDERGROUND_PAL2_ACIDGENERATOR equ 0
SPRFRAME_UNDERGROUND_PAL2_ACIDFORM equ 1
SPRFRAME_UNDERGROUND_PAL2_2 equ 2
SPRFRAME_UNDERGROUND_PAL2_3 equ 3
SPRFRAME_UNDERGROUND_PAL2_ACIDDROP equ 4
SPRFRAME_UNDERGROUND_PAL2_ACIDSPLASH equ 5
SPRFRAME_UNDERGROUND_PAL2_6 equ 6
SPRFRAME_UNDERGROUND_PAL2_7 equ 7
SPRFRAME_UNDERGROUND_PAL2_8 equ 8
SPRFRAME_UNDERGROUND_PAL2_9 equ 9
SPRFRAME_UNDERGROUND_PAL2_10 equ 10
SPRFRAME_UNDERGROUND_PAL2_EXPLOSION equ 11
SPRFRAME_UNDERGROUND_PAL2_STEAM equ 12
SPRFRAME_UNDERGROUND_PAL2_13 equ 13
SPRFRAME_UNDERGROUND_PAL2_14 equ 14
SPRFRAME_UNDERGROUND_PAL2_15 equ 15
SPRFRAME_UNDERGROUND_PAL2_16 equ 16
SPRFRAME_UNDERGROUND_PAL2_17 equ 17
SPRFRAME_UNDERGROUND_PAL2_18 equ 18
SPRFRAME_UNDERGROUND_PAL2_STEAMLAST equ 19
SPRFRAME_UNDERGROUND_PAL1_HUD_FIRST equ 0
SPRFRAME_UNDERGROUND_PAL1_HUD_1 equ 1
SPRFRAME_UNDERGROUND_PAL1_HUD_2 equ 2
SPRFRAME_UNDERGROUND_PAL1_HUD_3 equ 3
SPRFRAME_UNDERGROUND_PAL1_HUD_4 equ 4
SPRFRAME_UNDERGROUND_PAL1_HUD_5 equ 5
SPRFRAME_UNDERGROUND_PAL1_HUD_6 equ 6
SPRFRAME_UNDERGROUND_PAL1_HUD_7 equ 7
SPRFRAME_UNDERGROUND_PAL1_HUD_8 equ 8
SPRFRAME_UNDERGROUND_PAL1_HUD_9 equ 9
SPRFRAME_UNDERGROUND_PAL1_HUD_TIME equ 10
SPRFRAME_UNDERGROUND_PAL1_HUD_COLON equ 11
SPRFRAME_UNDERGROUND_PAL1_HUD_SCORE equ 12
SPRFRAME_TD_PAL0_EDITOR_SPAWNER equ 0
SPRFRAME_TD_PAL0_TUNNEL equ 1
SPRFRAME_TD_PAL0_ENEMYBEETLE equ 2
SPRFRAME_TD_PAL0_3 equ 3
SPRFRAME_TD_PAL0_4 equ 4
SPRFRAME_TD_PAL0_BUBBLE equ 5
SPRFRAME_TD_PAL0_PLAYERBULLET1 equ 6
SPRFRAME_TD_PAL0_PLAYERBULLET2 equ 7
SPRFRAME_TD_PAL0_PLAYERBULLET3 equ 8
SPRFRAME_TD_PAL0_HUDA equ 9
SPRFRAME_TD_PAL0_HUDB equ 10
SPRFRAME_TD_PAL0_HUDC equ 11
SPRFRAME_TD_PAL0_HUDNUM0 equ 12
SPRFRAME_TD_PAL0_13 equ 13
SPRFRAME_TD_PAL0_14 equ 14
SPRFRAME_TD_PAL0_15 equ 15
SPRFRAME_TD_PAL0_16 equ 16
SPRFRAME_TD_PAL0_17 equ 17
SPRFRAME_TD_PAL0_18 equ 18
SPRFRAME_TD_PAL0_19 equ 19
SPRFRAME_TD_PAL0_20 equ 20
SPRFRAME_TD_PAL0_HUDNUM9 equ 21
SPRFRAME_TD_PAL0_HUDAIRBARFIRST equ 22
SPRFRAME_TD_PAL0_ARROW_U equ 23
SPRFRAME_TD_PAL0_ARROW_R equ 24
SPRFRAME_TD_PAL0_ARROW_D equ 25
SPRFRAME_TD_PAL0_ARROW_L equ 26
SPRFRAME_TD_PAL0_HUD_AIR equ 27
SPRFRAME_TD_PAL0_HUD_TIMER equ 28
SPRFRAME_TD_PAL0_COFFIN equ 29
SPRFRAME_TD_PAL0_BEETLEDIE equ 30
SPRFRAME_TD_PAL0_31 equ 31
SPRFRAME_TD_PAL0_32 equ 32
SPRFRAME_TD_PAL0_33 equ 33
SPRFRAME_TD_PAL1_ENEMYSLUG equ 0
SPRFRAME_TD_PAL1_1 equ 1
SPRFRAME_TD_PAL1_2 equ 2
SPRFRAME_TD_PAL1_ENEMYMANTIS equ 3
SPRFRAME_TD_PAL1_4 equ 4
SPRFRAME_TD_PAL1_5 equ 5
SPRFRAME_TD_PAL1_MANTISDIE equ 6
SPRFRAME_TD_PAL1_7 equ 7
SPRFRAME_TD_PAL1_8 equ 8
SPRFRAME_TD_PAL1_9 equ 9
SPRFRAME_TD_PAL1_SLUGDIE equ 10
SPRFRAME_TD_PAL1_11 equ 11
SPRFRAME_TD_PAL1_12 equ 12
SPRFRAME_TD_PAL1_13 equ 13
SPRFRAME_COFFEE_PAL0_BEAN_MEDIUM equ 0
SPRFRAME_COFFEE_PAL0_BEAN_LARGE equ 1
SPRFRAME_COFFEE_PAL0_BEANBULLET equ 2
SPRFRAME_COFFEE_PAL0_GROUNDS equ 3
SPRFRAME_COFFEE_PAL0_BEAN_SMALL equ 4
SPRFRAME_COFFEE_PAL0_POT0_TOP equ 5
SPRFRAME_COFFEE_PAL0_POT0_BOTTOM equ 6
SPRFRAME_COFFEE_PAL0_PRESSA equ 7
SPRFRAME_COFFEE_PAL0_PRESSB equ 8
SPRFRAME_COFFEE_PAL0_BIGPOT0 equ 9
SPRFRAME_COFFEE_PAL0_10 equ 10
SPRFRAME_COFFEE_PAL0_11 equ 11
SPRFRAME_COFFEE_PAL0_12 equ 12
SPRFRAME_COFFEE_PAL0_STEAM0 equ 13
SPRFRAME_COFFEE_PAL0_STEAM1 equ 14
SPRFRAME_COFFEE_PAL0_STEAM2 equ 15
SPRFRAME_COFFEE_PAL0_STEAM3 equ 16
SPRFRAME_COFFEE_PAL0_SPOON equ 17
SPRFRAME_COFFEE_PAL0_BOSSPIPE equ 18
SPRFRAME_COFFEE_PAL0_BOSSPIPEHEAD equ 19
SPRFRAME_COFFEE_PAL0_BOSSHEAD equ 20
SPRFRAME_COFFEE_PAL0_21 equ 21
SPRFRAME_COFFEE_PAL0_22 equ 22
SPRFRAME_COFFEE_PAL0_23 equ 23
SPRFRAME_COFFEE_PAL0_24 equ 24
SPRFRAME_COFFEE_PAL0_25 equ 25
SPRFRAME_COFFEE_PAL0_26 equ 26
SPRFRAME_COFFEE_PAL0_27 equ 27
SPRFRAME_COFFEE_PAL0_28 equ 28
SPRFRAME_COFFEE_PAL0_29 equ 29
SPRFRAME_COFFEE_PAL0_30 equ 30
SPRFRAME_COFFEE_PAL0_31 equ 31
SPRFRAME_COFFEE_PAL0_32 equ 32
SPRFRAME_COFFEE_PAL0_BOSSHEADEND1 equ 33
SPRFRAME_COFFEE_PAL0_BOSSHEADEND2 equ 34
SPRFRAME_COFFEE_PAL0_BOSSHEADDEAD equ 35
SPRFRAME_COFFEE_PAL0_POTBUBBLE0 equ 36
SPRFRAME_COFFEE_PAL0_POTBUBBLE1 equ 37
SPRFRAME_COFFEE_PAL0_POTBUBBLE2 equ 38
SPRFRAME_COFFEE_PAL0_POTBUBBLE3 equ 39
SPRFRAME_COFFEE_PAL0_BEAN1_0 equ 0
SPRFRAME_COFFEE_PAL0_BEAN1_1 equ 1
SPRFRAME_COFFEE_PAL0_BEAN1_2 equ 2
SPRFRAME_COFFEE_PAL0_BEAN1_3 equ 3
SPRFRAME_COFFEE_PAL0_BEAN1_4 equ 4
SPRFRAME_COFFEE_PAL0_BEAN2_0 equ 0
SPRFRAME_COFFEE_PAL0_BEAN2_1 equ 1
SPRFRAME_COFFEE_PAL0_BEAN2_2 equ 2
SPRFRAME_COFFEE_PAL0_BEAN2_3 equ 3
SPRFRAME_COFFEE_PAL0_BEAN2_4 equ 4
SPRFRAME_COFFEE_PAL1_PLAYERSHIP equ 0
SPRFRAME_COFFEE_PAL1_EXPLOSION equ 1
SPRFRAME_COFFEE_PAL1_PLAYERBULLET1 equ 2
SPRFRAME_COFFEE_PAL1_PLAYERBULLET2 equ 3
SPRFRAME_COFFEE_PAL1_PLAYERBULLET3 equ 4
SPRFRAME_COFFEE_EDITOR_UPDOWN equ 0
SPRFRAME_COFFEE_EDITOR_PATH equ 1
SPRFRAME_COFFEE_EDITOR_ROCKET equ 2
SPRFRAME_COFFEE_EDITOR_CIRCLE equ 3
SPRFRAME_UNDERGROUND_EDITOR_PLAYER equ 0
SPRFRAME_UNDERGROUND_EDITOR_JUMPER equ 1
SPRFRAME_UNDERGROUND_EDITOR_VENT equ 2
SPRFRAME_UNDERGROUND_EDITOR_BLOB equ 3
SPRFRAME_UNDERGROUND_EDITOR_ACID equ 4
SPRFRAME_UNDERGROUND_EDITOR_BAT equ 5
SPRFRAME_UNDERGROUND_EDITOR_VENTHOLE equ 6
SPRFRAME_UNDERGROUND_EDITOR_PICKUP equ 7
SPRFRAME_UNDERGROUND_EDITOR_MOVERLOW equ 8
SPRFRAME_UNDERGROUND_EDITOR_MOVERHIGH equ 9
SPRFRAME_UNDERGROUND_EDITOR_MOVERLOW2 equ 10
SPRFRAME_UNDERGROUND_EDITOR_SPIKE equ 11
SPRFRAME_UNDERGROUND_EDITOR_WALLMOVER equ 12
SPRFRAME_UNDERGROUND_EDITOR_LIMPETMINE1 equ 13
SPRFRAME_UNDERGROUND_EDITOR_LIMPETMINE2 equ 14
SPRFRAME_COFFEE_PAL0_HUD_FIRST equ 0
SPRFRAME_COFFEE_PAL0_HUD_1 equ 1
SPRFRAME_COFFEE_PAL0_HUD_2 equ 2
SPRFRAME_COFFEE_PAL0_HUD_3 equ 3
SPRFRAME_COFFEE_PAL0_HUD_4 equ 4
SPRFRAME_COFFEE_PAL0_HUD_5 equ 5
SPRFRAME_COFFEE_PAL0_HUD_6 equ 6
SPRFRAME_COFFEE_PAL0_HUD_7 equ 7
SPRFRAME_COFFEE_PAL0_HUD_8 equ 8
SPRFRAME_COFFEE_PAL0_HUD_9 equ 9
SPRFRAME_COFFEE_PAL0_HUD_HEART_PLAYER equ 10
SPRFRAME_COFFEE_PAL0_HUD_HEART_ENEMY equ 11
SPRFRAME_COFFEE_PAL0_HUD_HEALTHBAR_PLAYER equ 12
SPRFRAME_COFFEE_PAL0_HUD_13 equ 13
SPRFRAME_COFFEE_PAL0_HUD_14 equ 14
SPRFRAME_COFFEE_PAL0_HUD_15 equ 15
SPRFRAME_COFFEE_PAL0_HUD_16 equ 16
SPRFRAME_COFFEE_PAL0_HUD_17 equ 17
SPRFRAME_COFFEE_PAL0_HUD_18 equ 18
SPRFRAME_COFFEE_PAL0_HUD_19 equ 19
SPRFRAME_COFFEE_PAL0_HUD_20 equ 20
SPRFRAME_COFFEE_PAL0_HUD_21 equ 21
SPRFRAME_COFFEE_PAL0_HUD_22 equ 22
SPRFRAME_COFFEE_PAL0_HUD_23 equ 23
SPRFRAME_COFFEE_PAL0_HUD_24 equ 24
SPRFRAME_COFFEE_PAL0_HUD_25 equ 25
SPRFRAME_COFFEE_PAL0_HUD_26 equ 26
SPRFRAME_COFFEE_PAL0_HUD_27 equ 27
SPRFRAME_COFFEE_PAL0_HUD_HEALTHBAR_PLAYER_LAST equ 28
SPRFRAME_COFFEE_PAL0_HUD_HEALTHBAR_ENEMY equ 29
SPRFRAME_COFFEE_PAL0_HUD_30 equ 30
SPRFRAME_COFFEE_PAL0_HUD_31 equ 31
SPRFRAME_COFFEE_PAL0_HUD_32 equ 32
SPRFRAME_COFFEE_PAL0_HUD_33 equ 33
SPRFRAME_COFFEE_PAL0_HUD_34 equ 34
SPRFRAME_COFFEE_PAL0_HUD_35 equ 35
SPRFRAME_COFFEE_PAL0_HUD_36 equ 36
SPRFRAME_COFFEE_PAL0_HUD_37 equ 37
SPRFRAME_COFFEE_PAL0_HUD_38 equ 38
SPRFRAME_COFFEE_PAL0_HUD_39 equ 39
SPRFRAME_COFFEE_PAL0_HUD_40 equ 40
SPRFRAME_COFFEE_PAL0_HUD_41 equ 41
SPRFRAME_COFFEE_PAL0_HUD_42 equ 42
SPRFRAME_COFFEE_PAL0_HUD_43 equ 43
SPRFRAME_COFFEE_PAL0_HUD_44 equ 44
SPRFRAME_COFFEE_PAL0_HUD_HEALTHBAR_ENEMY_LAST equ 45
SPRFRAME_TD_PAL0_TUNNELS_TUNNEL0 equ 0
SPRFRAME_TD_PAL0_TUNNELS_TUNNEL1 equ 1
SPRFRAME_TD_PAL0_TUNNELS_TUNNEL2 equ 2
SPRFRAME_TD_PAL0_TUNNELS_TUNNEL3 equ 3
SPRFRAME_TD_PAL0_TUNNELS_4 equ 4
SPRFRAME_TD_PAL0_TUNNELS_5 equ 5
SPRFRAME_TD_PAL0_TUNNELS_6 equ 6
SPRFRAME_TD_PAL0_TUNNELS_7 equ 7
SPRFRAME_TD_PAL0_HUDMETER_VDP_HUDAIRBARFIRST equ 0
SPRFRAME_TD_PAL0_HUDMETER_VDP_1 equ 1
SPRFRAME_TD_PAL0_HUDMETER_VDP_2 equ 2
SPRFRAME_TD_PAL0_HUDMETER_VDP_3 equ 3
SPRFRAME_TD_PAL0_HUDMETER_VDP_4 equ 4
SPRFRAME_TD_PAL0_HUDMETER_VDP_5 equ 5
SPRFRAME_TD_PAL0_HUDMETER_VDP_6 equ 6
SPRFRAME_TD_PAL0_HUDMETER_VDP_7 equ 7
SPRFRAME_TD_PAL0_HUDMETER_VDP_8 equ 8
SPRFRAME_TD_PAL0_HUDMETER_VDP_9 equ 9
SPRFRAME_TD_PAL0_HUDMETER_VDP_10 equ 10
SPRFRAME_TD_PAL0_HUDMETER_VDP_11 equ 11
SPRFRAME_TD_PAL0_HUDMETER_VDP_12 equ 12
SPRFRAME_TD_PAL0_HUDMETER_VDP_13 equ 13
SPRFRAME_TD_PAL0_HUDMETER_VDP_14 equ 14
SPRFRAME_TD_PAL0_HUDMETER_VDP_15 equ 15
SPRFRAME_TD_PAL0_HUDMETER_VDP_16 equ 16
SPRFRAME_TD_PAL0_HUDMETER_VDP_17 equ 17
SPRFRAME_TD_PAL0_HUDMETER_VDP_18 equ 18
SPRFRAME_TD_PAL0_HUDMETER_VDP_19 equ 19
SPRFRAME_TD_PAL0_HUDMETER_VDP_20 equ 20
SPRFRAME_TD_PAL0_HUDMETER_VDP_21 equ 21
SPRFRAME_TD_PAL0_HUDMETER_VDP_22 equ 22
SPRFRAME_TD_PAL0_HUDMETER_VDP_23 equ 23
SPRFRAME_TD_PAL0_HUDMETER_VDP_24 equ 24
SPRFRAME_TD_PAL0_HUDMETER_VDP_25 equ 25
SPRFRAME_TD_PAL0_HUDMETER_VDP_26 equ 26
SPRFRAME_TD_PAL0_HUDMETER_VDP_27 equ 27
SPRFRAME_TD_PAL0_HUDMETER_VDP_28 equ 28
SPRFRAME_TD_PAL0_HUDMETER_VDP_29 equ 29
SPRFRAME_TD_PAL0_HUDMETER_VDP_30 equ 30
SPRFRAME_TD_PAL0_HUDMETER_VDP_31 equ 31
SPRFRAME_TD_PAL0_HUDMETER_VDP_HUDAIRBARLAST equ 32
SPRFRAME_COFFEE_PAL0_SOFTWARESPRITE_0 equ 0

;-------------------------------------------------------------
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN_MEDIUM equ 0
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN_LARGE equ 1
CACHEDSPR_SPRITE_COFFEE_PAL0_BEANBULLET equ 2
CACHEDSPR_SPRITE_COFFEE_PAL0_GROUNDS equ 3
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN_SMALL equ 4
CACHEDSPR_SPRITE_COFFEE_PAL0_POT0_TOP equ 5
CACHEDSPR_SPRITE_COFFEE_PAL0_POT0_BOTTOM equ 6
CACHEDSPR_SPRITE_COFFEE_PAL0_PRESSA equ 7
CACHEDSPR_SPRITE_COFFEE_PAL0_PRESSB equ 8
CACHEDSPR_SPRITE_COFFEE_PAL0_BIGPOT0 equ 9
CACHEDSPR_SPRITE_COFFEE_PAL0_10 equ 10
CACHEDSPR_SPRITE_COFFEE_PAL0_11 equ 11
CACHEDSPR_SPRITE_COFFEE_PAL0_12 equ 12
CACHEDSPR_SPRITE_COFFEE_PAL0_STEAM0 equ 13
CACHEDSPR_SPRITE_COFFEE_PAL0_STEAM1 equ 14
CACHEDSPR_SPRITE_COFFEE_PAL0_STEAM2 equ 15
CACHEDSPR_SPRITE_COFFEE_PAL0_STEAM3 equ 16
CACHEDSPR_SPRITE_COFFEE_PAL0_SPOON equ 17
CACHEDSPR_SPRITE_COFFEE_PAL0_BOSSPIPE equ 18
CACHEDSPR_SPRITE_COFFEE_PAL0_BOSSPIPEHEAD equ 19
CACHEDSPR_SPRITE_COFFEE_PAL0_BOSSHEAD equ 20
CACHEDSPR_SPRITE_COFFEE_PAL0_21 equ 21
CACHEDSPR_SPRITE_COFFEE_PAL0_22 equ 22
CACHEDSPR_SPRITE_COFFEE_PAL0_23 equ 23
CACHEDSPR_SPRITE_COFFEE_PAL0_24 equ 24
CACHEDSPR_SPRITE_COFFEE_PAL0_25 equ 25
CACHEDSPR_SPRITE_COFFEE_PAL0_26 equ 26
CACHEDSPR_SPRITE_COFFEE_PAL0_27 equ 27
CACHEDSPR_SPRITE_COFFEE_PAL0_28 equ 28
CACHEDSPR_SPRITE_COFFEE_PAL0_29 equ 29
CACHEDSPR_SPRITE_COFFEE_PAL0_30 equ 30
CACHEDSPR_SPRITE_COFFEE_PAL0_31 equ 31
CACHEDSPR_SPRITE_COFFEE_PAL0_32 equ 32
CACHEDSPR_SPRITE_COFFEE_PAL0_BOSSHEADEND1 equ 33
CACHEDSPR_SPRITE_COFFEE_PAL0_BOSSHEADEND2 equ 34
CACHEDSPR_SPRITE_COFFEE_PAL0_BOSSHEADDEAD equ 35
CACHEDSPR_SPRITE_COFFEE_PAL0_POTBUBBLE0 equ 36
CACHEDSPR_SPRITE_COFFEE_PAL0_POTBUBBLE1 equ 37
CACHEDSPR_SPRITE_COFFEE_PAL0_POTBUBBLE2 equ 38
CACHEDSPR_SPRITE_COFFEE_PAL0_POTBUBBLE3 equ 39
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN1_0 equ 40
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN1_1 equ 41
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN1_2 equ 42
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN1_3 equ 43
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN1_4 equ 44
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN2_0 equ 45
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN2_1 equ 46
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN2_2 equ 47
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN2_3 equ 48
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN2_4 equ 49
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN3_0 equ 50
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN3_1 equ 51
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN3_2 equ 52
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN3_3 equ 53
CACHEDSPR_SPRITE_COFFEE_PAL0_BEAN3_4 equ 54
CACHEDSPR_SPRITE_COFFEE_PAL1_PLAYERSHIP equ 55
CACHEDSPR_SPRITE_COFFEE_PAL1_EXPLOSION equ 56
CACHEDSPR_SPRITE_COFFEE_PAL1_PLAYERBULLET1 equ 57
CACHEDSPR_SPRITE_COFFEE_PAL1_PLAYERBULLET2 equ 58
CACHEDSPR_SPRITE_COFFEE_PAL1_PLAYERBULLET3 equ 59

;-------------------------------------------------------------

sprdefs2:
	dc.w 20	;Num Groups
	dc.l SPRGROUP_DEBUG
	dc.l SPRGROUP_Coffee_Pal0_Bean3
	dc.l SPRGROUP_Sprites_MusicPlayer
	dc.l SPRGROUP_Scramble_Sprites
	dc.l SPRGROUP_Underground_Pal1
	dc.l SPRGROUP_Underground_Pal1_TileSprites
	dc.l SPRGROUP_Underground_Pal2
	dc.l SPRGROUP_Underground_Pal1_HUD
	dc.l SPRGROUP_TD_Pal0
	dc.l SPRGROUP_TD_Pal1
	dc.l SPRGROUP_Coffee_Pal0
	dc.l SPRGROUP_Coffee_Pal0_Bean1
	dc.l SPRGROUP_Coffee_Pal0_Bean2
	dc.l SPRGROUP_Coffee_Pal1
	dc.l SPRGROUP_Coffee_Editor
	dc.l SPRGROUP_Underground_Editor
	dc.l SPRGROUP_Coffee_Pal0_HUD
	dc.l SPRGROUP_TD_Pal0_Tunnels
	dc.l SPRGROUP_TD_Pal0_HudMeter_VDP
	dc.l SPRGROUP_Coffee_Pal0_SoftwareSprite

;-------------------------------------------------------------
sprpalettes2:
	dc.w 20	;Num Palettes
	dc.l SPRPAL_DEBUG
	dc.l SPRPAL_Coffee_Pal0_Bean3
	dc.l SPRPAL_Sprites_MusicPlayer
	dc.l SPRPAL_Scramble_Sprites
	dc.l SPRPAL_Underground_Pal1
	dc.l SPRPAL_Underground_Pal1_TileSprites
	dc.l SPRPAL_Underground_Pal2
	dc.l SPRPAL_Underground_Pal1_HUD
	dc.l SPRPAL_TD_Pal0
	dc.l SPRPAL_TD_Pal1
	dc.l SPRPAL_Coffee_Pal0
	dc.l SPRPAL_Coffee_Pal0_Bean1
	dc.l SPRPAL_Coffee_Pal0_Bean2
	dc.l SPRPAL_Coffee_Pal1
	dc.l SPRPAL_Coffee_Editor
	dc.l SPRPAL_Underground_Editor
	dc.l SPRPAL_Coffee_Pal0_HUD
	dc.l SPRPAL_TD_Pal0_Tunnels
	dc.l SPRPAL_TD_Pal0_HudMeter_VDP
	dc.l SPRPAL_Coffee_Pal0_SoftwareSprite

;-------------------------------------------------------------
SPRGROUP_DEBUG:
	dc.l SPRCOL_DEBUG	;Link to sprite per frame collision
	dc.l SPRDEF_DEBUG	;Link to cells
	dc.w 26	;Number of chars
	dc.w 26	;Number of frames

	dc.w 1	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 1	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 3	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 1	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 2	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 3	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 4	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 5	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 6	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 7	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 8	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 9	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 10	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 11	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 12	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 13	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 14	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 15	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 16	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 17	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 18	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 19	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 20	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 21	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 22	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 23	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 24	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 25	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_DEBUG:
	dc.w -1,9,-1,9
	dc.w -3,7,-3,7
	dc.w 0,0,-7,-7
	dc.w 0,0,-7,-7
	dc.w 0,0,-7,-7
	dc.w 0,0,-7,-7
	dc.w 0,0,-7,-7
	dc.w 0,0,-7,-7
	dc.w 0,0,-7,-7
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -7,-7,0,0
	dc.w -7,-7,0,0
	dc.w -7,-7,0,0
	dc.w -7,-7,0,0
	dc.w -7,-7,0,0
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7

SPRGROUP_Coffee_Pal0_Bean3:
	dc.l SPRCOL_Coffee_Pal0_Bean3	;Link to sprite per frame collision
	dc.l SPRDEF_Coffee_Pal0_Bean3	;Link to cells
	dc.w 80	;Number of chars
	dc.w 5	;Number of frames

	dc.w 16	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 16	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 16	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 16	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 32	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 16	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 48	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 16	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 64	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Coffee_Pal0_Bean3:
	dc.w -16,-16,-16,-16
	dc.w -16,-16,-16,-16
	dc.w -16,-16,-16,-16
	dc.w -16,-16,-16,-16
	dc.w -16,-16,-16,-16

SPRGROUP_Sprites_MusicPlayer:
	dc.l SPRCOL_Sprites_MusicPlayer	;Link to sprite per frame collision
	dc.l SPRDEF_Sprites_MusicPlayer	;Link to cells
	dc.w 12	;Number of chars
	dc.w 9	;Number of frames

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 1	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 2	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 3	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 4	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 5	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 6	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 8	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 10	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Sprites_MusicPlayer:
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4

SPRGROUP_Scramble_Sprites:
	dc.l SPRCOL_Scramble_Sprites	;Link to sprite per frame collision
	dc.l SPRDEF_Scramble_Sprites	;Link to cells
	dc.w 50	;Number of chars
	dc.w 9	;Number of frames

	dc.w 8	;Origin Y
	dc.w SPR_4x2	;size flags
	dc.w 0	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 15	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 8	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 29	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 12	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 14	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 28	;Origin Y
	dc.w SPR_2x4	;size flags
	dc.w 18	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 26	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_3x1	;size flags
	dc.w 30	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 17	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 33	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 17	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 49	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Scramble_Sprites:
	dc.w -15,-15,-8,-8
	dc.w -29,-29,-8,-8
	dc.w -4,-4,-8,-8
	dc.w -8,-8,-8,-8
	dc.w -8,-8,-28,-28
	dc.w -8,-8,-8,-8
	dc.w -12,-12,-4,-4
	dc.w -17,-17,-17,-17
	dc.w -3,-3,-4,-4

SPRGROUP_Underground_Pal1:
	dc.l SPRCOL_Underground_Pal1	;Link to sprite per frame collision
	dc.l SPRDEF_Underground_Pal1	;Link to cells
	dc.w 210	;Number of chars
	dc.w 62	;Number of frames

	dc.w 8	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 6	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 15	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 12	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 16	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 20	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 22	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 28	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 34	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 40	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 11	;Origin Y
	dc.w SPR_2x3	;size flags
	dc.w 44	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 50	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 51	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 15	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 52	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 56	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 60	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 64	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 66	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 68	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 70	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 72	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 74	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 76	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 31	;Origin Y
	dc.w SPR_2x4	;size flags
	dc.w 78	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 86	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 88	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 90	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 92	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 94	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 96	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 98	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 100	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 104	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 108	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 112	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 116	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 120	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 124	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 128	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 15	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 132	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 15	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 136	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 10	;Origin Y
	dc.w SPR_2x3	;size flags
	dc.w 140	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 31	;Origin Y
	dc.w SPR_2x4	;size flags
	dc.w 146	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 16	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 154	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 16	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 158	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 10	;Origin Y
	dc.w SPR_2x3	;size flags
	dc.w 162	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 168	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 11	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 174	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 11	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 180	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 11	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 10	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 186	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 10	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 192	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 198	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 199	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 200	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 201	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 202	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 203	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 204	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 205	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 206	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 207	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 208	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 209	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Underground_Pal1:
	dc.w -12,-12,-8,-8
	dc.w -12,-12,-8,-8
	dc.w -6,6,-14,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -7,7,-7,7
	dc.w -7,7,-7,7
	dc.w -7,7,-7,7
	dc.w -7,9,-7,9
	dc.w 0,13,-9,8
	dc.w -3,3,-3,3
	dc.w -3,3,-3,3
	dc.w -7,9,-18,1
	dc.w -8,8,0,19
	dc.w -5,6,-6,4
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -6,8,-28,1
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -8,-8,-15,-15
	dc.w -7,9,-18,1
	dc.w 0,13,-8,9
	dc.w -6,8,-28,1
	dc.w -8,8,-16,0
	dc.w -8,8,-16,0
	dc.w 0,13,-8,9
	dc.w -8,10,-4,6
	dc.w -11,-11,-7,-7
	dc.w -11,-11,-7,-7
	dc.w -12,-12,-10,-10
	dc.w -12,-12,-10,-10
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4

SPRGROUP_Underground_Pal1_TileSprites:
	dc.l SPRCOL_Underground_Pal1_TileSprites	;Link to sprite per frame collision
	dc.l SPRDEF_Underground_Pal1_TileSprites	;Link to cells
	dc.w 8	;Number of chars
	dc.w 8	;Number of frames

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 1	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 2	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 3	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 4	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 5	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 6	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 7	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Underground_Pal1_TileSprites:
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w -4,-4,-4,-4
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0

SPRGROUP_Underground_Pal2:
	dc.l SPRCOL_Underground_Pal2	;Link to sprite per frame collision
	dc.l SPRDEF_Underground_Pal2	;Link to cells
	dc.w 29	;Number of chars
	dc.w 20	;Number of frames

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 0	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 2	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 3	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 4	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 5	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 6	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 7	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 15	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 8	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 15	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 10	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 15	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 12	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 14	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 15	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 5	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 19	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 5	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 20	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 6	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 21	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 22	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 23	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 13	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 24	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 26	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 11	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 28	;Cell offset
	dc.w $4000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Underground_Pal2:
	dc.w 0,0,0,0
	dc.w -3,5,-7,1
	dc.w -3,5,-7,1
	dc.w -3,5,-7,1
	dc.w -3,5,-7,1
	dc.w -3,-3,-7,-7
	dc.w -3,-3,-7,-7
	dc.w -3,-3,-15,-15
	dc.w -3,-3,-15,-15
	dc.w -3,-3,-15,-15
	dc.w -3,-3,-7,-7
	dc.w -8,-8,-7,-7
	dc.w -3,-3,-5,-5
	dc.w -4,-4,-5,-5
	dc.w -4,-4,-6,-6
	dc.w -4,-4,-7,-7
	dc.w -4,-4,-7,-7
	dc.w -4,-4,-13,-13
	dc.w -4,-4,-12,-12
	dc.w -3,-3,-11,-11

SPRGROUP_Underground_Pal1_HUD:
	dc.l SPRCOL_Underground_Pal1_HUD	;Link to sprite per frame collision
	dc.l SPRDEF_Underground_Pal1_HUD	;Link to cells
	dc.w 18	;Number of chars
	dc.w 13	;Number of frames

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 1	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 2	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 3	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 4	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 5	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 6	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 7	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 8	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 9	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_3x1	;size flags
	dc.w 10	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 13	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 14	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Underground_Pal1_HUD:
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0

SPRGROUP_TD_Pal0:
	dc.l SPRCOL_TD_Pal0	;Link to sprite per frame collision
	dc.l SPRDEF_TD_Pal0	;Link to cells
	dc.w 115	;Number of chars
	dc.w 34	;Number of frames

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 4	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 8	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 17	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 17	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 26	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 35	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 39	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 43	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 47	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 51	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 53	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 55	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 57	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 58	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 59	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 60	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 61	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 62	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 63	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 64	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 65	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 66	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 67	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 71	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 3	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 72	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 73	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 3	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 74	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 75	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 79	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x2	;size flags
	dc.w 83	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 11	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 91	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 95	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 101	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_4x2	;size flags
	dc.w 107	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_TD_Pal0:
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -12,-12,-12,-12
	dc.w -12,-12,-12,-12
	dc.w -12,-12,-17,-17
	dc.w -8,-8,-7,-7
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -3,-3,-7,-7
	dc.w 0,0,-3,-3
	dc.w -3,-3,0,0
	dc.w -7,-7,-3,-3
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w 0,0,0,0
	dc.w -7,-7,-11,-11
	dc.w -12,-12,-12,-12
	dc.w -12,-12,-12,-12
	dc.w -16,-16,-12,-12

SPRGROUP_TD_Pal1:
	dc.l SPRCOL_TD_Pal1	;Link to sprite per frame collision
	dc.l SPRDEF_TD_Pal1	;Link to cells
	dc.w 124	;Number of chars
	dc.w 14	;Number of frames

	dc.w 12	;Origin Y
	dc.w SPR_4x2	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 15	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_4x2	;size flags
	dc.w 8	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 15	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_4x3	;size flags
	dc.w 16	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 15	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 25	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 28	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 15	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 26	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 44	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 15	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 27	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 60	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 15	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 11	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 76	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 80	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 86	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_4x2	;size flags
	dc.w 92	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 11	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 100	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 104	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 110	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_4x2	;size flags
	dc.w 116	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_TD_Pal1:
	dc.w -15,-15,-12,-12
	dc.w -15,-15,-12,-12
	dc.w -15,-15,-12,-12
	dc.w -15,-15,-25,-25
	dc.w -15,-15,-26,-26
	dc.w -15,-15,-27,-27
	dc.w -7,-7,-11,-11
	dc.w -12,-12,-12,-12
	dc.w -12,-12,-12,-12
	dc.w -16,-16,-12,-12
	dc.w -7,-7,-11,-11
	dc.w -12,-12,-12,-12
	dc.w -12,-12,-12,-12
	dc.w -16,-16,-12,-12

SPRGROUP_Coffee_Pal0:
	dc.l SPRCOL_Coffee_Pal0	;Link to sprite per frame collision
	dc.l SPRDEF_Coffee_Pal0	;Link to cells
	dc.w 421	;Number of chars
	dc.w 40	;Number of frames

	dc.w 13	;Origin Y
	dc.w SPR_2x3	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 16	;Origin Y
	dc.w SPR_3x4	;size flags
	dc.w 6	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 18	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 11	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 19	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 11	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 28	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 3	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 23	;Origin Y
	dc.w SPR_4x3	;size flags
	dc.w 30	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 14	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 42	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_3x4	;size flags
	dc.w 48	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x4	;size flags
	dc.w 60	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 68	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 84	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 100	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 116	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 4	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 132	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 4	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 8	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 133	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 137	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 141	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 30	;Origin Y
	dc.w SPR_2x4	;size flags
	dc.w 145	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 153	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 157	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 161	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 177	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 193	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 209	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 225	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 241	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 257	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 273	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 289	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 305	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 321	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 337	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 353	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 369	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 385	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 401	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 417	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 418	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 419	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 420	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Coffee_Pal0:
	dc.w -9,9,-12,11
	dc.w -10,11,-13,13
	dc.w -2,2,-2,2
	dc.w -14,8,-14,8
	dc.w -6,8,-6,6
	dc.w -14,-14,-23,-23
	dc.w -12,-12,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -4,4,-4,4
	dc.w -8,-8,-8,-8
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -8,-8,-30,-30
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0

SPRGROUP_Coffee_Pal0_Bean1:
	dc.l SPRCOL_Coffee_Pal0_Bean1	;Link to sprite per frame collision
	dc.l SPRDEF_Coffee_Pal0_Bean1	;Link to cells
	dc.w 20	;Number of chars
	dc.w 5	;Number of frames

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 4	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 8	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 12	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 16	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Coffee_Pal0_Bean1:
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7

SPRGROUP_Coffee_Pal0_Bean2:
	dc.l SPRCOL_Coffee_Pal0_Bean2	;Link to sprite per frame collision
	dc.l SPRDEF_Coffee_Pal0_Bean2	;Link to cells
	dc.w 42	;Number of chars
	dc.w 5	;Number of frames

	dc.w 13	;Origin Y
	dc.w SPR_2x3	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 6	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 15	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 24	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 33	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Coffee_Pal0_Bean2:
	dc.w -8,-8,-13,-13
	dc.w -12,-12,-12,-12
	dc.w -12,-12,-12,-12
	dc.w -12,-12,-12,-12
	dc.w -12,-12,-12,-12

SPRGROUP_Coffee_Pal1:
	dc.l SPRCOL_Coffee_Pal1	;Link to sprite per frame collision
	dc.l SPRDEF_Coffee_Pal1	;Link to cells
	dc.w 23	;Number of chars
	dc.w 5	;Number of frames

	dc.w 9	;Origin Y
	dc.w SPR_4x2	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 12	;Origin Y
	dc.w SPR_3x3	;size flags
	dc.w 8	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 11	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 3	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 17	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 3	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 19	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 3	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 21	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Coffee_Pal1:
	dc.w -16,-16,-9,-9
	dc.w -11,-11,-12,-12
	dc.w -7,-7,-3,-3
	dc.w -7,-7,-3,-3
	dc.w -7,-7,-3,-3

SPRGROUP_Coffee_Editor:
	dc.l SPRCOL_Coffee_Editor	;Link to sprite per frame collision
	dc.l SPRDEF_Coffee_Editor	;Link to cells
	dc.w 16	;Number of chars
	dc.w 4	;Number of frames

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 4	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 8	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 12	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Coffee_Editor:
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7
	dc.w -7,-7,-7,-7

SPRGROUP_Underground_Editor:
	dc.l SPRCOL_Underground_Editor	;Link to sprite per frame collision
	dc.l SPRDEF_Underground_Editor	;Link to cells
	dc.w 57	;Number of chars
	dc.w 15	;Number of frames

	dc.w 8	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 0	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 14	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 6	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 12	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 12	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 16	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 18	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_3x2	;size flags
	dc.w 20	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 11	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 26	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 6	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 30	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 15	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 34	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 7	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 38	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 30	;Origin Y
	dc.w SPR_2x4	;size flags
	dc.w 42	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 8	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 50	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 7	;Origin Y
	dc.w SPR_1x2	;size flags
	dc.w 51	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 53	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 55	;Cell offset
	dc.w $2000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Underground_Editor:
	dc.w -12,-12,-8,-8
	dc.w -12,-12,-14,-14
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w -11,-11,-7,-7
	dc.w 0,0,0,0
	dc.w -7,-7,-6,-6
	dc.w -7,-7,-15,-15
	dc.w -8,-8,0,0
	dc.w -8,-8,-30,-30
	dc.w 0,0,0,0
	dc.w 0,0,-7,-7
	dc.w 0,0,0,0
	dc.w 0,0,0,0

SPRGROUP_Coffee_Pal0_HUD:
	dc.l SPRCOL_Coffee_Pal0_HUD	;Link to sprite per frame collision
	dc.l SPRDEF_Coffee_Pal0_HUD	;Link to cells
	dc.w 80	;Number of chars
	dc.w 46	;Number of frames

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 1	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 2	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 3	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 4	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 5	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 6	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 7	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 8	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 9	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 10	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_1x1	;size flags
	dc.w 11	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 12	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 14	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 16	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 18	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 20	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 22	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 24	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 26	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 28	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 30	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 32	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 34	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 36	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 38	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 40	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 42	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 44	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 46	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 48	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 50	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 52	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 54	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 56	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 58	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 60	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 62	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 64	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 66	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 68	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 70	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 72	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 74	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 76	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x1	;size flags
	dc.w 78	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Coffee_Pal0_HUD:
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0

SPRGROUP_TD_Pal0_Tunnels:
	dc.l SPRCOL_TD_Pal0_Tunnels	;Link to sprite per frame collision
	dc.l SPRDEF_TD_Pal0_Tunnels	;Link to cells
	dc.w 32	;Number of chars
	dc.w 8	;Number of frames

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 4	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 8	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 12	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 16	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 20	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 24	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_2x2	;size flags
	dc.w 28	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_TD_Pal0_Tunnels:
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0

SPRGROUP_TD_Pal0_HudMeter_VDP:
	dc.l SPRCOL_TD_Pal0_HudMeter_VDP	;Link to sprite per frame collision
	dc.l SPRDEF_TD_Pal0_HudMeter_VDP	;Link to cells
	dc.w 132	;Number of chars
	dc.w 33	;Number of frames

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 4	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 8	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 12	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 16	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 20	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 24	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 28	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 32	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 36	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 40	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 44	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 48	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 52	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 56	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 60	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 64	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 68	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 72	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 76	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 80	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 84	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 88	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 92	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 96	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 100	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 104	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 108	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 112	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 116	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 120	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 124	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler

	dc.w 0	;Origin Y
	dc.w SPR_4x1	;size flags
	dc.w 128	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 0	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_TD_Pal0_HudMeter_VDP:
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0
	dc.w 0,0,0,0

SPRGROUP_Coffee_Pal0_SoftwareSprite:
	dc.l SPRCOL_Coffee_Pal0_SoftwareSprite	;Link to sprite per frame collision
	dc.l SPRDEF_Coffee_Pal0_SoftwareSprite	;Link to cells
	dc.w 16	;Number of chars
	dc.w 1	;Number of frames

	dc.w 16	;Origin Y
	dc.w SPR_4x4	;size flags
	dc.w 0	;Cell offset
	dc.w $0000	;palette and flips
	dc.w 16	;Origin X
	dc.w 0,0,0	;Filler


SPRCOL_Coffee_Pal0_SoftwareSprite:
	dc.w -16,-16,-16,-16

SPRDEF_DEBUG:
	dc.w COMPRESSION_None
	dc.w 26	;Number of cells
	dc.l $11111111,$10000000,$10000000,$10000000,$10000000,$10000000,$10000000,$10000000
	dc.l $00010000,$00010000,$00010000,$11111110,$00010000,$00010000,$00010000,$00000000
	dc.l $20000000,$20000000,$10000000,$10000000,$10000000,$10000000,$10000000,$10000000
	dc.l $00200000,$00200000,$01000000,$01000000,$01000000,$01000000,$10000000,$10000000
	dc.l $00000200,$00002000,$00001000,$00010000,$00100000,$01000000,$01000000,$10000000
	dc.l $00000002,$00000020,$00000100,$00001000,$00010000,$00100000,$01000000,$10000000
	dc.l $00000000,$00000000,$00000002,$00000120,$00001000,$00010000,$01100000,$10000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000022,$00111100,$11000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$11111122
	dc.l $11000000,$00111100,$00000022,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $10000000,$01100000,$00010000,$00001000,$00000120,$00000002,$00000000,$00000000
	dc.l $10000000,$01000000,$00100000,$00010000,$00001000,$00000100,$00000020,$00000002
	dc.l $10000000,$01000000,$01000000,$00100000,$00010000,$00001000,$00002000,$00000200
	dc.l $10000000,$10000000,$01000000,$01000000,$01000000,$01000000,$00200000,$00200000
	dc.l $10000000,$10000000,$10000000,$10000000,$10000000,$10000000,$20000000,$20000000
	dc.l $00000001,$00000001,$00000010,$00000010,$00000010,$00000010,$00000200,$00000200
	dc.l $00000001,$00000010,$00000010,$00000100,$00001000,$00010000,$00020000,$00200000
	dc.l $00000001,$00000010,$00000100,$00001000,$00010000,$00100000,$02000000,$20000000
	dc.l $00000001,$00000110,$00001000,$00010000,$02100000,$20000000,$00000000,$00000000
	dc.l $00000011,$00111100,$22000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$22111111
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$22000000,$00111100,$00000011
	dc.l $00000000,$00000000,$20000000,$02100000,$00010000,$00001000,$00000110,$00000001
	dc.l $20000000,$02000000,$00100000,$00010000,$00001000,$00000100,$00000010,$00000001
	dc.l $00200000,$00020000,$00010000,$00001000,$00000100,$00000010,$00000010,$00000001
	dc.l $00000200,$00000200,$00000010,$00000010,$00000010,$00000010,$00000001,$00000001
SPRDEF_Coffee_Pal0_Bean3:
	dc.w COMPRESSION_None
	dc.w 80	;Number of cells
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000005,$00000005
	dc.l $00000005,$00000055,$00000055,$00000555,$00000557,$00000555,$00000557,$00000555
	dc.l $00000557,$00000555,$00000557,$00000555,$00000055,$00000055,$00000055,$00000005
	dc.l $00000005,$00000005,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00055555,$00555777,$55577776,$55577767,$55555776,$55555557
	dc.l $57575555,$75777555,$57776755,$77766675,$57776666,$77666666,$77766666,$77666666
	dc.l $77766666,$77666666,$77766666,$77676666,$57766666,$77776666,$57766666,$77776666
	dc.l $57767666,$75776766,$55757776,$00555757,$00055555,$00000555,$00000000,$00000000
	dc.l $00000000,$00000000,$55500000,$77555500,$66775550,$66667550,$67667755,$76767755
	dc.l $77766675,$57767675,$55576777,$55577667,$55577766,$75577666,$75577766,$75577666
	dc.l $75577766,$75577666,$75577766,$75577666,$75577766,$75577676,$75557767,$75557776
	dc.l $67555577,$67755557,$66675555,$77777755,$55555555,$55555550,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$50000000
	dc.l $50000000,$55000000,$55000000,$75500000,$67550000,$67550000,$67555000,$67555000
	dc.l $67775000,$66755000,$66775000,$66755000,$66775000,$66755000,$66775000,$67755000
	dc.l $75555000,$57555000,$75550000,$55500000,$50000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000055,$00000557
	dc.l $00000557,$00005557,$00005555,$00005555,$00005575,$00005557,$00005557,$00005577
	dc.l $00005575,$00005557,$00005577,$00005555,$00000557,$00000555,$00000055,$00000055
	dc.l $00000005,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000005,$00555555,$55777775,$77666667,$77666667
	dc.l $76667676,$77777776,$55555776,$75555555,$77555555,$76675555,$76666655,$77666675
	dc.l $76666667,$77666667,$76666666,$77766666,$77666666,$57777666,$77766666,$55777666
	dc.l $55777666,$55577776,$05777766,$00555777,$00575755,$00005555,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$50000000,$55500000,$75550000,$77555000
	dc.l $66755550,$76777555,$66667775,$77666675,$77766667,$57776667,$57766666,$57777666
	dc.l $55776666,$55777666,$75577666,$75577776,$75557766,$67555777,$67555577,$66755555
	dc.l $66677555,$66666677,$76667775,$77777555,$75555555,$55555000,$55500000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$55000000,$55500000,$55500000,$77550000,$77550000,$67750000
	dc.l $67575000,$66755000,$66775500,$66775500,$76755500,$67555500,$77575500,$55755500
	dc.l $55555000,$75550000,$55500000,$55000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000055,$00000577
	dc.l $00005776,$00057766,$00557767,$00557767,$00557775,$00555555,$00555555,$00555577
	dc.l $00557777,$00555577,$00055577,$00005577,$00005575,$00005555,$00000555,$00000055
	dc.l $00000005,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$55555555,$55555555,$76677775
	dc.l $66666677,$67766777,$66776666,$77777777,$55555577,$55555557,$55555555,$66666755
	dc.l $66666677,$67666667,$76666666,$76666666,$77666666,$77776666,$57777776,$57777667
	dc.l $55777777,$55555777,$05555557,$00055575,$00000555,$00000005,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$55550000,$55555550
	dc.l $77775555,$66667557,$66666775,$66666667,$77666666,$77666666,$77766666,$57777666
	dc.l $55777777,$75577766,$77557777,$67755555,$66775555,$66677555,$66666676,$66666666
	dc.l $66666677,$76777555,$77777755,$77755555,$75555500,$50000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$50000000,$75000000,$75500000,$77750000,$67575000,$66775500,$66755550
	dc.l $76755550,$66755550,$77777500,$55555500,$55555500,$57755000,$77555000,$75550000
	dc.l $55500000,$55000000,$50000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000555,$00005555,$00005577,$00055766,$00577666,$00576676,$05576677,$05776677
	dc.l $05577755,$05777555,$05575555,$05555577,$05555577,$00555757,$00055577,$00005557
	dc.l $00000555,$00000055,$00000005,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000005,$05555555
	dc.l $55555577,$55777766,$77677666,$66776766,$66667767,$77777777,$75555777,$55555555
	dc.l $55555555,$55566775,$76666667,$66666666,$67666666,$77666666,$77676666,$57777667
	dc.l $75777776,$55757777,$55555775,$05555555,$00055555,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$55550000,$55555550
	dc.l $75775755,$77777775,$66666677,$66666666,$66666666,$76666667,$77767766,$77777677
	dc.l $55777777,$55555555,$77555555,$66775557,$66667776,$66666666,$66666666,$76666677
	dc.l $77677677,$77776775,$77777755,$55775555,$55557550,$50055000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $50000000,$55550000,$75555000,$75555000,$65755000,$67555000,$67775500,$75555500
	dc.l $55555500,$55575500,$57755500,$76755000,$67555000,$67550000,$77550000,$55500000
	dc.l $75500000,$55500000,$55000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000055,$00000555,$00055557,$00555777,$00557776,$00557666
	dc.l $05576677,$05576767,$05766667,$05767675,$05776755,$05577755,$05577555,$05557557
	dc.l $00555555,$00055557,$00005555,$00000555,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000555,$00055557
	dc.l $00555557,$55557777,$55776666,$57766666,$77666666,$67676767,$76777777,$67777777
	dc.l $75555555,$75555555,$55557777,$55566666,$55766666,$57666666,$76666666,$77676666
	dc.l $77776767,$57777777,$75757777,$55575757,$55555555,$00555555,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$55555555,$57575755
	dc.l $77777775,$66666775,$66666667,$66666767,$66667677,$67676775,$77777775,$77777555
	dc.l $55555555,$55555557,$77777776,$66666666,$66666666,$66666666,$66666667,$66767676
	dc.l $67677777,$77777777,$77757575,$57555555,$55555500,$55500000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$50000000,$55000000
	dc.l $55500000,$75500000,$57550000,$75550000,$55555000,$55755000,$57755000,$57755000
	dc.l $76755000,$66755000,$66755000,$67555000,$67555000,$77755000,$67550000,$75550000
	dc.l $77500000,$55000000,$75000000,$50000000,$00000000,$00000000,$00000000,$00000000
SPRDEF_Sprites_MusicPlayer:
	dc.w COMPRESSION_None
	dc.w 12	;Number of cells
	dc.l $01111110,$12262231,$12662231,$12262231,$12262231,$12262231,$13666331,$01111110
	dc.l $01111110,$12262231,$12626231,$12226231,$12262231,$12622231,$13666331,$01111110
	dc.l $01111110,$12662231,$12226231,$12662231,$12226231,$12226231,$13663331,$01111110
	dc.l $01111110,$12622231,$12622231,$12626231,$12666631,$12226231,$13336331,$01111110
	dc.l $01111110,$12666231,$12622231,$12662231,$12226231,$12226231,$13663331,$01111110
	dc.l $01111110,$12266231,$12622231,$12666231,$12622631,$12622631,$13366331,$01111110
	dc.l $01111110,$14466451,$14644651,$14644651,$14666651,$14644651,$15655651,$01111110
	dc.l $00011000,$00011000,$00011000,$00011000,$00011000,$00011000,$00011000,$00011000
	dc.l $01111110,$14666451,$14644651,$14666451,$14644651,$14644651,$15666551,$01111110
	dc.l $00011000,$00011000,$00011000,$00011000,$00011000,$00011000,$00011000,$00011000
	dc.l $01111110,$14466451,$14644651,$14644451,$14644451,$14644651,$15566551,$01111110
	dc.l $00011000,$00011000,$00011000,$00011000,$00011000,$00011000,$00011000,$00011000
SPRDEF_Scramble_Sprites:
	dc.w COMPRESSION_None
	dc.w 50	;Number of cells
	dc.l $00CCCCCA,$6C22222D,$5C2CCCAD,$7C2222DA,$C22222DA,$C2222DAE,$A2CCCDAE,$A2CCCDAE
	dc.l $A2CCCDAE,$ACAAADAE,$DCAAADAD,$DCAADAAC,$DCADCCCC,$DCADDDDD,$DDAAAADE,$0DDDDDDF
	dc.l $00088888,$D0855555,$D8566659,$E5555559,$E5555559,$56666659,$66666659,$66888869
	dc.l $68888869,$68888886,$AAAAA888,$CCCCCD88,$CCAADE88,$DDDDEEEE,$EEEEEEEE,$FFFFFFFF
	dc.l $61110000,$12221100,$24442211,$44444222,$41112222,$11111422,$11111114,$11111111
	dc.l $11111111,$99999999,$66666655,$88888FFF,$8888FEEE,$EEEEFEEF,$EEEEEFEE,$FFFFFFFF
	dc.l $00000000,$00000000,$00000000,$10000000,$21000000,$22100000,$42210000,$14210000
	dc.l $14210000,$9995E000,$5556E000,$F666E000,$EF6E0000,$FEF00000,$EF000000,$F0000000
	dc.l $00000000,$00000006,$00000065,$00000655,$00000657,$00006557,$00006577,$00006577
	dc.l $00006577,$00006577,$00006557,$00000657,$00000655,$00000065,$00000006,$00000000
	dc.l $06666660,$65577756,$57777775,$77777777,$7733337C,$7333333C,$7333333A,$3333333A
	dc.l $3333333A,$3333333A,$7333333D,$7333333D,$7773337D,$5777777D,$6557775D,$06666660
	dc.l $AAAAAAAA,$ACCCCCCA,$AAAAAAAA,$DDDDDDDD,$00DAAD00,$88866888,$E655556E,$E865568E
	dc.l $E865568E,$E865568E,$FFFFFFFF,$AC2222CA,$ACC22CCA,$0ACCCCA0,$0DACCAD0,$00DDDD00
	dc.l $00000112,$00011233,$00122233,$01224E57,$0124EE65,$124E88E6,$924E5358,$944E3E36
	dc.l $941E5336,$941E8666,$0911E88E,$DAACCAA8,$DAC22222,$0DAACC22,$00DDACC2,$0000DDDD
	dc.l $21100000,$33211000,$33222100,$75E42210,$56EE4210,$6E88E421,$8535E429,$6E33E449
	dc.l $6335E149,$6668E149,$E8881190,$8AACCAAD,$22222CAD,$22CCAAD0,$2CCADD00,$DDDD0000
	dc.l $00000011,$00001122,$00012223,$00122423,$01224455,$01241677,$12411678,$12116758
	dc.l $94116763,$94116776,$09116577,$091165AA,$00918A22,$000AACC2,$000DDAAA,$000ACC22
	dc.l $0086DDDD,$00868655,$00868655,$08688655,$08688665,$0868E665,$0E68E665,$0E8E8665
	dc.l $0E8E8865,$0E8E8885,$E88E88EE,$E8E8EDAC,$E8EE0DDD,$E8E000DA,$EE000DDD,$E0000DAC
	dc.l $11000000,$22110000,$32221000,$32422100,$55442210,$77614210,$57611421,$35761121
	dc.l $36761149,$67761149,$77561190,$AA561190,$22A81900,$2CCAA000,$AAADD000,$22CCA000
	dc.l $DDDD6800,$55686800,$55686800,$55688680,$56688680,$566E8680,$566E86E0,$5668E8E0
	dc.l $5688E8E0,$5888E8E0,$EE88E88E,$CADE8E8E,$DDD0EE8E,$AD000E8E,$DDD000EE,$CAD0000E
	dc.l $00000114,$00001222,$00012242,$00C92441,$0C292419,$C2294419,$DCC29149,$DACC2999
	dc.l $DACCCA22,$0DCCCAC2,$0DCCAAC2,$0DACAAC2,$0DACAADA,$00DCAD00,$00DCD000,$000D0000
	dc.l $41100000,$22210000,$24221000,$14429C00,$914292C0,$9144922C,$94192CCD,$9992CCAD
	dc.l $22ACCCAD,$2CACCCD0,$2CAACCD0,$2CAACAD0,$ADAACAD0,$00DACD00,$000DCD00,$0000D000
	dc.l $00000000,$00000000,$06666666,$66655577,$66655577,$06666666,$00000000,$00000000
	dc.l $00000000,$00000000,$66666666,$77777777,$77777777,$66666666,$00000000,$00000000
	dc.l $00000000,$00000000,$66655560,$77773375,$77773375,$66655560,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000033,$00000333,$00003333,$00033333,$00033333
	dc.l $00333333,$03333333,$03333333,$03333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$03333333,$03333333,$03333333,$00333333
	dc.l $00033333,$00033333,$00003333,$00000333,$00000033,$00000000,$00000000,$00000000
	dc.l $00003333,$03333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$03333333,$00003333
	dc.l $33330000,$33333330,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333330,$33330000
	dc.l $00000000,$00000000,$00000000,$33000000,$33300000,$33330000,$33333000,$33333000
	dc.l $33333300,$33333330,$33333330,$33333330,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333330,$33333330,$33333330,$33333300
	dc.l $33333000,$33333000,$33330000,$33300000,$33000000,$00000000,$00000000,$00000000
	dc.l $03333330,$33355333,$33555533,$35577553,$35577553,$33555533,$33355333,$03333330
SPRDEF_Underground_Pal1:
	dc.w COMPRESSION_None
	dc.w 210	;Number of cells
	dc.l $00000000,$00000000,$00000011,$00000144,$00001432,$00001122,$00000011,$00000141
	dc.l $00000111,$00001843,$00000113,$00000001,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$10000011,$41000112,$34101123,$23411231,$22341231,$12231221
	dc.l $11223138,$11111112,$32222111,$13222221,$01112210,$00118181,$00011010,$00000000
	dc.l $00000000,$00000000,$11000000,$33100000,$11110000,$51510000,$67620000,$11110000
	dc.l $89A10000,$21981000,$10110000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00001111,$00018431,$00001111,$00001444,$00000133,$00000011,$00000000,$00000000
	dc.l $00000000,$00000111,$00001123,$00011231,$00012315,$00112316,$01112211,$12121388
	dc.l $21421122,$13421111,$34212110,$42121110,$11111181,$11188110,$00011000,$00000000
	dc.l $00000000,$10000000,$31000000,$11100000,$15100000,$76200000,$11100000,$9A100000
	dc.l $19810000,$01100000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000001,$00011117,$001A11AA,$00111111,$00149149,$00011111,$0017777A
	dc.l $0007A7A7,$301A61A1,$03333173,$00376361,$00799999,$00797777,$01A7AAAA,$1A11AA71
	dc.l $00000000,$11110000,$77771000,$77A17100,$111A7100,$17AAA100,$1AAA7710,$AA9AA710
	dc.l $A7197100,$16139100,$13339700,$9799AA10,$A7AA7910,$AAAAAA71,$AA7A1711,$1A171177
	dc.l $11000000,$82111111,$18888888,$11111111,$12222222,$01111111,$00012221,$00011111
	dc.l $00000000,$11111111,$88811111,$11188888,$22211111,$11122222,$31111111,$11000000
	dc.l $00000000,$11111111,$11111888,$88888111,$11111222,$22222111,$11111113,$00000011
	dc.l $00000011,$11111128,$88888881,$11111111,$22222221,$11111110,$12221000,$11111000
	dc.l $00EE5B5B,$001E5BBB,$0C6EE5BB,$06C1EE55,$00001EEE,$0000C61E,$00006C00,$00000000
	dc.l $B5B5EE00,$BBB5E100,$BB5EE6C0,$55EE1C60,$EEE10000,$E16C0000,$00C60000,$00000000
	dc.l $00000000,$00000001,$0000001A,$000001A6,$00001A66,$00001A61,$000001A6,$00001A66
	dc.l $00001A66,$000011A6,$00001A66,$00001A66,$000001A6,$0000001A,$00000001,$00000000
	dc.l $01111110,$1AAAAAA1,$666AA666,$66666666,$66666666,$11A66A11,$A116611A,$24166142
	dc.l $62A66A26,$66666666,$66666666,$66A11A66,$666AA666,$A666666A,$1AAAAAA1,$01111110
	dc.l $00000000,$10000000,$A1000000,$6A100000,$66A10000,$16A10000,$6A100000,$66A10000
	dc.l $66A10000,$6A110000,$66A10000,$66A10000,$6A100000,$A1000000,$10000000,$00000000
	dc.l $00000000,$00000001,$0000001A,$000001A6,$00001A66,$00001A6A,$000001A6,$00001A66
	dc.l $00001A66,$000011A6,$00001A66,$00001A66,$000001A6,$0000001A,$00000001,$00000000
	dc.l $01111110,$1AAAAAA1,$666AA666,$66666666,$16666661,$11A66A11,$A116611A,$24166142
	dc.l $62A66A26,$66666666,$66666666,$66A11A66,$666AA666,$A666666A,$1AAAAAA1,$01111110
	dc.l $00000000,$10000000,$A1000000,$6A100000,$66A10000,$A6A10000,$6A100000,$66A10000
	dc.l $66A10000,$6A110000,$66A10000,$66A10000,$6A100000,$A1000000,$10000000,$00000000
	dc.l $00000000,$00000001,$0000001A,$000001A6,$00001A66,$00001A66,$000001A6,$00001A66
	dc.l $00001A66,$000011A6,$00001A66,$00001A66,$000001A6,$0000001A,$00000001,$00000000
	dc.l $01111110,$1AAAAAA1,$666AA666,$61666616,$A166661A,$A1A66A1A,$A116611A,$24166142
	dc.l $62A66A26,$66666666,$66666666,$66A11A66,$666AA666,$A666666A,$1AAAAAA1,$01111110
	dc.l $00000000,$10000000,$A1000000,$6A100000,$66A10000,$66A10000,$6A100000,$66A10000
	dc.l $66A10000,$6A110000,$66A10000,$66A10000,$6A100000,$A1000000,$10000000,$00000000
	dc.l $00000000,$00000000,$00000000,$0000000B,$000000BB,$00000BB6,$0000BB66,$000BB666
	dc.l $000CBBBB,$0000CBBB,$00000CBB,$000000CB,$0000000C,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$C0000000,$BC000000,$BBC00000,$BBBC0000,$BBBBC000
	dc.l $CCCC5000,$CCC50000,$CC500000,$C5000000,$50000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$02221000,$33002000,$01001200,$10000120,$22110111,$00011222
	dc.l $00112232,$22212324,$01012361,$00012314,$00112361,$22212324,$30001224,$0000112C
	dc.l $000011DD,$0001100D,$32220000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$10000000,$21000000
	dc.l $42000000,$84000000,$88D00000,$8A6D0000,$885DD000,$845CD000,$455BD000,$55CDB000
	dc.l $CCCB0000,$BBB00000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00DDDD00,$0DB6C6D0,$BD6D5CDD,$BCC555CD,$BCD555BD,$DDCC5CDB,$0DDCCCB0,$00DBBB00
	dc.l $00000000,$00000000,$00000000,$000BBB00,$000BDB00,$000BBB00,$00000000,$00000000
	dc.l $0000C000,$0000CCC0,$00000CCC,$000001C1,$000034AA,$000346A3,$00346A43,$034AAAAA
	dc.l $034AAAAA,$03AA4113,$04AA1111,$04A41113,$04AA4114,$784AA444,$78887744,$0C999A79
	dc.l $0C000000,$CC000000,$C1000000,$C1000000,$AAA30000,$14443000,$64446100,$A4334410
	dc.l $A4114410,$41113310,$41111310,$41111310,$11111431,$31113441,$443348C7,$9AC9A997
	dc.l $799A9CA9,$7C843344,$14431113,$13411111,$01311114,$01311114,$01331114,$0144114A
	dc.l $0144334A,$00164446,$00034441,$00003AAA,$0000001C,$0000001C,$000000CC,$000000C0
	dc.l $97A999C0,$44778887,$444AA487,$4114AA40,$31114A40,$1111AA40,$3114AA30,$AAAAA430
	dc.l $AAAAA430,$34A64300,$3A643000,$AA430000,$1C100000,$CCC00000,$0CCC0000,$000C0000
	dc.l $0000050C,$06C00056,$0C6C00EE,$00C61CEE,$0001CE55,$500CE5BB,$051E5B5B,$C6EE5BBB
	dc.l $C6EE5BBB,$051E5B5B,$500CE5BB,$0001CE55,$00C61CEE,$0C6C00EE,$06C00056,$0000050C
	dc.l $C0500000,$65000C60,$EE00C6C0,$EE1E6C00,$55EC1000,$BB5EC005,$B5B5EE50,$BBB5EE6C
	dc.l $BBB5EE6C,$B5B5EE50,$BB5EC005,$55EC1000,$EEC16C00,$EE00C6C0,$65000C60,$C0500000
	dc.l $11111111,$11888886,$18AAAA66,$18A99666,$18A99996,$118AAAA6,$01188886,$00011111
	dc.l $11111111,$68888811,$66AAAA81,$66699A81,$69999A81,$6AAAA811,$68888110,$11111000
	dc.l $11111111,$11888886,$18AAAA66,$18A99666,$18A99996,$118AAAA6,$01188883,$00011111
	dc.l $11111111,$68888811,$66AAAA81,$66699A81,$69999A81,$6AAAA811,$38888110,$11111000
	dc.l $11111111,$11888886,$18AAAA66,$18A99666,$18A99996,$118AAAA3,$01188883,$00011111
	dc.l $11111111,$68888811,$66AAAA81,$66699A81,$69999A81,$3AAAA811,$38888110,$11111000
	dc.l $11111111,$11888886,$18AAAA66,$18A99666,$18A99993,$118AAAA3,$01188883,$00011111
	dc.l $11111111,$68888811,$66AAAA81,$66699A81,$39999A81,$3AAAA811,$38888110,$11111000
	dc.l $11111111,$11888886,$18AAAA66,$18A99333,$18A99993,$118AAAA3,$01188883,$00011111
	dc.l $11111111,$68888811,$66AAAA81,$33399A81,$39999A81,$3AAAA811,$38888110,$11111000
	dc.l $11111111,$11888886,$18AAAA33,$18A99333,$18A99993,$118AAAA3,$01188883,$00011111
	dc.l $11111111,$68888811,$33AAAA81,$33399A81,$39999A81,$3AAAA811,$38888110,$11111000
	dc.l $11111111,$11888883,$18AAAA33,$18A99333,$18A99993,$118AAAA3,$01188883,$00011111
	dc.l $11111111,$38888811,$33AAAA81,$33399A81,$39999A81,$3AAAA811,$38888110,$11111000
	dc.l $00000000,$00500550,$05500555,$55505555,$05157C5D,$0056C7D5,$0057CCCC,$6577CCDD
	dc.l $557C1DDD,$07CC15C5,$07C16151,$07CC11EE,$001CECCC,$00CCCE5E,$007ED535,$007ED5DD
	dc.l $007EDD1D,$005DDDDD,$007EDDDD,$007EDDDD,$0057DDDD,$0057DDDD,$05557DDD,$557C7EDD
	dc.l $0577E7DD,$055CCDDD,$005CD7DD,$000CDDDD,$000CDDDD,$000CDDDD,$0000CDDD,$00000E1E
	dc.l $00050000,$00565000,$05050000,$05005000,$0505D500,$75505000,$C7755500,$CC7C7500
	dc.l $1CD77500,$155C5500,$615C5000,$11CC6200,$EDC10000,$CDDC0000,$5DDE7000,$5DDE0000
	dc.l $DDD50000,$DDE75000,$DDE75000,$DDE75000,$DDD50000,$DDDE5000,$DDD15000,$DDE77000
	dc.l $D77E7000,$D7DDC000,$7DD7C000,$DDDDC000,$DDDDC000,$DDCDC000,$DDCE0000,$E1E10000
	dc.l $11111111,$11555556,$15CCCC66,$15CBB666,$15CBBBB6,$115CCCC6,$01155556,$00011111
	dc.l $11111111,$65555511,$66CCCC51,$666BBC51,$6BBBBC51,$6CCCC511,$65555110,$11111000
	dc.l $11111111,$11555556,$15CCCC66,$15CBB666,$15CBBBB6,$115CCCC6,$01155553,$00011111
	dc.l $11111111,$65555511,$66CCCC51,$666BBC51,$6BBBBC51,$6CCCC511,$35555110,$11111000
	dc.l $11111111,$11555556,$15CCCC66,$15CBB666,$15CBBBB6,$115CCCC3,$01155553,$00011111
	dc.l $11111111,$65555511,$66CCCC51,$666BBC51,$6BBBBC51,$3CCCC511,$35555110,$11111000
	dc.l $11111111,$11555556,$15CCCC66,$15CBB666,$15CBBBB3,$115CCCC3,$01155553,$00011111
	dc.l $11111111,$65555511,$66CCCC51,$666BBC51,$3BBBBC51,$3CCCC511,$35555110,$11111000
	dc.l $11111111,$11555556,$15CCCC66,$15CBB333,$15CBBBB3,$115CCCC3,$01155553,$00011111
	dc.l $11111111,$65555511,$66CCCC51,$333BBC51,$3BBBBC51,$3CCCC511,$35555110,$11111000
	dc.l $11111111,$11555556,$15CCCC33,$15CBB333,$15CBBBB3,$115CCCC3,$01155553,$00011111
	dc.l $11111111,$65555511,$33CCCC51,$333BBC51,$3BBBBC51,$3CCCC511,$35555110,$11111000
	dc.l $11111111,$11555553,$15CCCC33,$15CBB333,$15CBBBB3,$115CCCC3,$01155553,$00011111
	dc.l $11111111,$35555511,$33CCCC51,$333BBC51,$3BBBBC51,$3CCCC511,$35555110,$11111000
	dc.l $BBBBBBBB,$BBBDBBCB,$BBBBBBCB,$DBBDBBBB,$DBBBDBBB,$DBBBDBBB,$0BBB0DB0,$00BB0BB0
	dc.l $BBBBBBBB,$BBBBCBCB,$BDBBCBBB,$BDBBBDBB,$BBDBBDBB,$00DBBDBB,$00BB0DBB,$000B00BB
	dc.l $BBBBBBBB,$BBBBBBBB,$DBBBBBCB,$DBBDBBCB,$DBBBBBBB,$BDBBDBB0,$0BB0DBB0,$0B00BB00
	dc.l $BBBBBBBB,$BBBBBBBC,$DBBBDBBC,$BBBBDBBC,$DBBBBDBB,$DBBBBDBB,$DBBBB0BB,$0DB000B0
	dc.l $BBBBBBBB,$BBBDBBCB,$BBBBBBCB,$DBBDBBBB,$DBBBDBBB,$DBBBDBBB,$0BB00DB0,$00B00000
	dc.l $BBBBBBBB,$BBBBCBCB,$BDBBCBBB,$BDBBBDBB,$BBDBBDBB,$00DBBDBB,$00BB0DBB,$00000000
	dc.l $BBBBBBBB,$BBBBBBBB,$DBBBBBCB,$DBBDBBCB,$DBBBBBBB,$BDBBDBB0,$0BB0DBB0,$00000000
	dc.l $BBBBBBBB,$BBBBBBBC,$DBBBDBBC,$BBBBDBBC,$DBBBBDBB,$DBBBBDB0,$DBBBB0B0,$0DB00000
	dc.l $BBBBBBBB,$BBBDBBCB,$BBBBBBCB,$DBBDBBBB,$DBBBDBBB,$D0000BB0,$0B0000B0,$00000000
	dc.l $BBBBBBBB,$BBBBCBCB,$BDBBCBBB,$BDBBBDBB,$BBDBBDBB,$00DB0DBB,$00BB0DBB,$00000000
	dc.l $BBBBBBBB,$BBBBBBBB,$DBBBBBCB,$DBBDBBCB,$DBBBBBBB,$B00BDBB0,$0B00DBB0,$00000000
	dc.l $BBBBBBBB,$BBBBBBBC,$DBBBDBBC,$BBBBDBBC,$DBBBBDBB,$DBBBBD00,$D00B0000,$00000000
	dc.l $BBBBBBBB,$BBBDBBCB,$BBBBBBCB,$DBBDBBBB,$DBBB0BBB,$000000B0,$000000B0,$00000000
	dc.l $BBBBBBBB,$BBBBCBCB,$BDBBCBBB,$BDBBBDBB,$BBDBBDBB,$00000DB0,$00BB0000,$00000000
	dc.l $BBBBBBBB,$BBBBBBBB,$DBBBBBCB,$DB0DBBCB,$DB0BBBBB,$B00000B0,$0B0000B0,$00000000
	dc.l $BBBBBBBB,$BBBBBBBC,$DBBBDBBC,$BB0BDBBC,$0B00BD00,$00BBBD00,$D00B0000,$00000000
	dc.l $BBBBBBBB,$BBBDBBCB,$0BBBBBCB,$D00DBBBB,$D00B0B0B,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBBCBCB,$BDBBC0BB,$BDBBBD0B,$B0DB0D0B,$00000D00,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBBBBBB,$DBBBBBCB,$DB0D00CB,$0B0BB0BB,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBBBBBC,$DBBBDB00,$BB0BD000,$0B000000,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBD0BCB,$0BBB0BCB,$000D0B00,$0000000B,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBBCBCB,$BDBBC0BB,$0D000000,$00000000,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBBBBBB,$D0000000,$000D0000,$000B0000,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBBB0BC,$00B00000,$000B0000,$00000000,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBD0BC0,$0B0B0000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$0000CBCB,$0DB00000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBB00BB,$00000000,$000D0000,$00000000,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$BBBBB0BC,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $BB000BBB,$000000C0,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $BBBBBB0B,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $BBBBBBBB,$000B00B0,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $B0BBBBBB,$00B000B0,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00111111,$01A11777,$1A11AAA7,$11111111,$14911491,$01111111,$07777AAA,$1A17A17A
	dc.l $0116111A,$00311111,$03763633,$30179993,$00197779,$01A111AA,$0A1AAAA7,$0A1A11A1
	dc.l $10000000,$71000000,$A1100000,$1A110000,$11A10000,$7A771000,$AAA71000,$7A971000
	dc.l $6919A100,$13319700,$31939910,$39A97710,$9AA71710,$AA7A71A1,$17711A11,$01110110
	dc.l $00000000,$0000C000,$0000CCC0,$00000CCC,$000001C1,$000034AA,$000346A3,$00346A43
	dc.l $034AAAAA,$03AA4113,$04AA1111,$04A41113,$04AA4114,$784AA444,$78887744,$0C999A79
	dc.l $00000000,$0C000000,$CC000000,$C1000000,$C1000000,$AAA30000,$14443000,$64336100
	dc.l $A4114410,$41113310,$41111310,$41111310,$11111431,$31113441,$443348C7,$9AC9A997
	dc.l $32100000,$03220000,$01002000,$00001200,$22001200,$10100111,$00011222,$22001232
	dc.l $00112324,$00012361,$00012314,$32112361,$00012324,$00001224,$0001112C,$001211DD
	dc.l $3220000D,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$10000000,$21000000,$42000000
	dc.l $84000000,$88D00000,$8A6D0000,$885DD000,$845CD000,$455BD000,$55CDB000,$CCCB0000
	dc.l $BBB00000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00050000,$00565000,$00050505,$00500505,$05D5050D,$00505575,$055577CC,$057C7CCD
	dc.l $0577DC1D,$055C5515,$005C5161,$026CC11E,$0001CDEC,$000CDDCE,$007EDD55,$000EDD5D
	dc.l $0005DDDD,$0057EDDD,$0057EDDD,$0057EDDD,$0005DDDD,$005EDDDD,$0057DDDD,$0077EDDD
	dc.l $007E77DD,$00CDD7DD,$00C7DD7D,$00CDDDDD,$00CDDDDD,$00CDCDDD,$000ECDDD,$0001E1EE
	dc.l $00000000,$55005000,$55005500,$55505550,$5C751500,$D7C65000,$CCC75000,$DCC77560
	dc.l $DD1C7550,$C51CC700,$5161C700,$E11CC700,$CCEC1000,$5ECCC000,$35DE7000,$D5DE7000
	dc.l $1DDE7000,$DDDD5000,$DDDE7000,$DDDE7000,$DDD75000,$DDD75000,$DD755500,$DE7C7550
	dc.l $D7E77500,$DDCC5500,$D7DC5000,$DDDC0000,$DDDC0000,$DDDC0000,$DDC00000,$1E000000
	dc.l $00000000,$10000011,$61001111,$1311EEE1,$00111111,$01277772,$01712217,$01131131
	dc.l $01717717,$01276677,$00166667,$00166162,$00216621,$00011111,$00005100,$00021002
	dc.l $00000000,$11100000,$11610000,$11311000,$EEEE1100,$1EEEE110,$21E11E10,$711511E1
	dc.l $21511611,$11111110,$11111120,$11111200,$11111100,$11111200,$51011120,$10710710
	dc.l $00000000,$01000011,$17101111,$0311EEE1,$00111111,$01277772,$01712217,$01131131
	dc.l $01717717,$01276677,$00166667,$00161662,$00216621,$00011112,$00000510,$00000012
	dc.l $00000000,$11000000,$11110000,$13611000,$EE1E1100,$1EEEE110,$21E11110,$71151611
	dc.l $21511111,$11111112,$11111120,$11111110,$11111120,$21111117,$05100111,$00120710
	dc.l $32100000,$03220000,$01002000,$00001200,$22001200,$10100111,$00011222,$22001232
	dc.l $00112324,$00012361,$00012314,$32112361,$00012324,$00001224,$00011120,$00121100
	dc.l $32200000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$10000000,$21000000,$42000000
	dc.l $84000000,$88000000,$8A000000,$88000000,$84000000,$40000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000003,$00000021,$00000413,$00004331
	dc.l $00043313,$00023131,$00033140,$00031100,$00021110,$00211100,$00111200,$00012000
	dc.l $01000100,$1B111B10,$14333410,$13818310,$19111912,$18111812,$13818311,$11333113
	dc.l $11121111,$01111130,$00102100,$00320320,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$30000000,$22000000,$31400000,$13340000
	dc.l $31334000,$13132000,$01413000,$00113000,$01112000,$00111200,$00311100,$00021000
	dc.l $00000000,$00000000,$00004220,$00041332,$00021111,$00231111,$00231113,$02111333
	dc.l $00414311,$00000001,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00100010,$01B111B1,$11433411,$13818131,$19111931,$18111831
	dc.l $13818131,$11333311,$11121111,$00101110,$00320320,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00224000,$03331400,$11111200,$11111320,$33111320,$33331112
	dc.l $11134140,$11000000,$10000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $02400000,$01322240,$01133334,$00111332,$00211113,$00021111,$00001111,$00014311
	dc.l $00001233,$00000113,$00000011,$00000001,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$20100102,$31B11B13,$11433411,$13818131
	dc.l $19111931,$18111831,$13818131,$11333311,$11121111,$01111110,$00111100,$00320320
	dc.l $00000420,$04222330,$43333310,$23111100,$33111200,$31112000,$11110000,$11341000
	dc.l $33210000,$33100000,$11000000,$10000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000011,$00000144,$00001432,$00001122,$00000011
	dc.l $00000141,$00000111,$00001843,$00000113,$00000001,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$10000011,$41000112,$34101123,$23411231,$22341231
	dc.l $12231221,$11223138,$11111112,$32222111,$13222221,$01112210,$00118100,$00011100
	dc.l $00000000,$00000000,$00000000,$11000000,$33100000,$11110000,$51510000,$67620000
	dc.l $11110000,$89A10000,$21981000,$10110000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000011,$00000144,$00001432,$00001122,$00000011
	dc.l $00000141,$00000111,$00001843,$00000113,$00000001,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$10000011,$41000112,$34101123,$23411231,$22341231
	dc.l $12231221,$11223138,$11111112,$32222111,$13222221,$01112210,$00118181,$00011010
	dc.l $00000000,$00000000,$00000000,$11000000,$33100000,$11110000,$51510000,$67620000
	dc.l $11110000,$89A10000,$21981000,$10110000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00020000,$03332200,$02033200,$02000000,$40002000,$42222200,$00000000
	dc.l $00000000,$04222300,$00002300,$00400000,$22040000,$23302200,$03300330,$00000000
	dc.l $00022000,$04433202,$04403300,$22300000,$23300200,$00023230,$02233400,$22004440
	dc.l $00000440,$20000400,$22233000,$00233000,$00020000,$02040300,$02002200,$02000000
	dc.l $00000000,$00000030,$00030000,$00000000,$00000000,$00000030,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00300000,$00000300,$00000003,$00000000,$00300000
	dc.l $00000000,$00000030,$00300000,$00000000,$00003000,$00000000,$00000030,$00000000
	dc.l $00000000,$03000000,$00003000,$00000000,$00000000,$00300030,$00000000,$00000000
	dc.l $00000000,$03000030,$00000000,$00000000,$00003000,$00300000,$00000000,$00000000
	dc.l $00000000,$00000000,$00003000,$00000000,$00000000,$00300000,$00000300,$00000000
	dc.l $00000000,$00000000,$03000030,$00000000,$00030000,$00000000,$00003000,$00000000
	dc.l $00000000,$00000000,$00300000,$00000000,$00000300,$00003000,$00000000,$00000000
SPRDEF_Underground_Pal1_TileSprites:
	dc.w COMPRESSION_None
	dc.w 8	;Number of cells
	dc.l $00000000,$00044000,$00499800,$04969980,$09969980,$00999400,$90494000,$04009080
	dc.l $00494404,$08999980,$49899940,$48949990,$48896990,$84899990,$04848940,$00343400
	dc.l $00884400,$04894440,$49999984,$89666994,$49966698,$88999994,$08899940,$00484800
	dc.l $00849400,$04994980,$49666998,$46666694,$49666699,$04966994,$08999480,$00488800
	dc.l $90000009,$06000060,$00600600,$00066000,$00066000,$00600600,$06000060,$90000009
	dc.l $00000000,$09000090,$00400400,$00044000,$00044000,$00400400,$09000090,$00000000
	dc.l $00000000,$00000000,$00900900,$00033000,$00033000,$00900900,$00000000,$00000000
	dc.l $00000000,$09000090,$00800800,$00088000,$00088000,$00800800,$09000090,$00000000
SPRDEF_Underground_Pal2:
	dc.w COMPRESSION_None
	dc.w 29	;Number of cells
	dc.l $11111111,$11113111,$01111111,$00111111,$00000001,$00000000,$00000000,$00000000
	dc.l $11111111,$11131131,$11111111,$11311110,$11001100,$00000000,$00000000,$00000000
	dc.l $00011000,$00011000,$00011000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00011000,$00011000,$00111100,$00111100,$00111100,$00011000,$00000000,$00000000
	dc.l $00011000,$00011000,$00111100,$01111110,$01111110,$01111110,$00111100,$00000000
	dc.l $00011000,$00111100,$01111110,$11111111,$11111111,$11111111,$11111111,$01111110
	dc.l $00000000,$00000000,$00000000,$00111100,$01111110,$11111111,$11111111,$11111111
	dc.l $00000010,$01000110,$01111110,$00111110,$00111110,$01111110,$01111110,$11111111
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000001,$00000000,$01100110
	dc.l $00111100,$00011100,$00011000,$00011000,$00011100,$00111100,$01111110,$11111111
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00010011,$00000001,$01000100
	dc.l $00000000,$00000000,$00011000,$00011000,$00111000,$00111100,$01111110,$11111111
	dc.l $00000000,$00000000,$00000000,$00100100,$00000000,$00000001,$00000000,$00001000
	dc.l $00000000,$00000000,$00000010,$00000000,$00000000,$00011100,$00111111,$11111111
	dc.l $00000000,$00001000,$00000000,$00100000,$00000010,$00000000,$01111110,$11111111
	dc.l $00000022,$00002222,$00022255,$00225555,$02255555,$02255555,$22555557,$22555577
	dc.l $22555577,$22555557,$22255555,$02255555,$00225555,$00022255,$00002222,$00000022
	dc.l $22000000,$22220000,$55222000,$55552200,$55555220,$55555220,$75555522,$77555522
	dc.l $77555522,$75555522,$55555220,$55555220,$55552200,$55222000,$22220000,$22000000
	dc.l $00000000,$00000000,$00040000,$00466600,$00666600,$00666000,$00000000,$00000000
	dc.l $00000000,$00044000,$00466000,$00666600,$00666600,$00066600,$00006000,$00000000
	dc.l $00000000,$00044000,$00046600,$00466600,$00666600,$00666600,$00066000,$00000000
	dc.l $00000000,$00004000,$00046600,$00466600,$00466600,$00666600,$00066600,$00000000
	dc.l $00004400,$00046600,$00046600,$00066600,$00066600,$00006000,$00000000,$00006000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00004600,$00046600,$00066000
	dc.l $00066000,$00006000,$00000000,$00006000,$00000000,$00006000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00004000,$00046600,$00066000,$00000000
	dc.l $00006000,$00000000,$00006000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00046000,$00066000,$00000000,$00000000,$00060000
SPRDEF_Underground_Pal1_HUD:
	dc.w COMPRESSION_None
	dc.w 18	;Number of cells
	dc.l $00000000,$00666660,$06666666,$06660666,$06660666,$06660666,$06666666,$00666660
	dc.l $00000000,$00066600,$00666600,$00666600,$00066600,$00066600,$00666660,$00666660
	dc.l $00000000,$06666660,$06666666,$00006666,$00066660,$00666600,$06666666,$06666666
	dc.l $00000000,$06666660,$06666666,$00000666,$00066660,$00000666,$06666666,$06666660
	dc.l $00000000,$00066666,$00666666,$06666666,$06660666,$06666666,$06666666,$00000666
	dc.l $00000000,$06666666,$06666666,$06660000,$06666660,$00000666,$06666666,$06666660
	dc.l $00000000,$00666660,$06666660,$06660000,$06666660,$06660666,$06666666,$00666660
	dc.l $00000000,$06666666,$06666666,$00000666,$00006660,$00006660,$00066600,$00066600
	dc.l $00000000,$00666660,$06666666,$06660666,$00666660,$06660666,$06666666,$00666660
	dc.l $00000000,$00666660,$06666666,$06660666,$00666666,$00000666,$00666666,$00666660
	dc.l $06666660,$06666660,$00066000,$00066060,$00066060,$00066060,$00066060,$00000000
	dc.l $00000000,$00000000,$06060006,$66666060,$60606066,$60606060,$60606006,$00000000
	dc.l $00000000,$00000000,$60066000,$06066000,$60000000,$00066000,$60066000,$00000000
	dc.l $00000000,$00000000,$00666000,$00666000,$00000000,$00000000,$00666000,$00666000
	dc.l $06666000,$66006600,$66000000,$06666006,$00006606,$66006606,$06666000,$00000000
	dc.l $00000000,$00000000,$66006600,$00060060,$00060060,$00060060,$66006600,$00000000
	dc.l $00000000,$00000000,$66000660,$60606006,$60006660,$60006000,$60000660,$00000000
	dc.l $00000000,$00000000,$06600000,$06600000,$00000000,$06600000,$06600000,$00000000
SPRDEF_TD_Pal0:
	dc.w COMPRESSION_None
	dc.w 115	;Number of cells
	dc.l $0BBB0BB0,$BCBBBBBB,$BCBBBBBB,$0BBBCBBC,$0BBBBBBC,$BBBBB1BB,$0BCCBBBB,$0BCBBBBB
	dc.l $BBBBBBBB,$0BCCBB1C,$0BBCBBCB,$0BBBBBBB,$0BBBBBBB,$BB1CCBCB,$BCBBBBBB,$BB0BB00B
	dc.l $BBB0BB00,$CBBBBBB0,$BBBBB1C0,$BBBCBBBB,$CBBCBBBB,$BBBBBBB0,$BBBBBBBB,$BCBBBC00
	dc.l $BBBBBBB0,$BBBCBBBB,$BBBBBB10,$BBBBBCB0,$BC1BBCBB,$BBBBBBBB,$BCBBBBBB,$BBB00BB0
	dc.l $BBBBBBBB,$BCBBBBBB,$BCBBBBBB,$BBBBCBBC,$BBBBBBBC,$BBBBB1BB,$BBCCBBBB,$BBCBBBBB
	dc.l $BBBBBBBB,$BBCCBB1C,$BBBCBBCB,$BBBBBBBB,$BBBBBBBB,$BB1CCBCB,$BCBBBBBB,$BBBBBBBB
	dc.l $BBBBBBBB,$CBBBBBBB,$BBBBB1CB,$BBBCBBBB,$CBBCBBBB,$BBBBBBBB,$BBBBBBBB,$BCBBBCBB
	dc.l $BBBBBBBB,$BBBCBBBB,$BBBBBB1B,$BBBBBCBB,$BC1BBCBB,$BBBBBBBB,$BCBBBBBB,$BBBBBBBB
	dc.l $00000000,$00000000,$00000330,$00000133,$00000013,$00013302,$00001332,$00000133
	dc.l $00002211,$00022222,$00002222,$00000222,$00000002,$00000002,$00000121,$00001010
	dc.l $00000101,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$30000000,$22000000,$22200000,$22222210
	dc.l $32222181,$13222222,$22222222,$22222200,$22222200,$00200200,$02010201,$10102010
	dc.l $01010101,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$01170000
	dc.l $20007000,$20000000,$27000700,$01777100,$00111000,$00000000,$00000000,$10000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000030,$00000133,$00000133,$00000013,$00000013,$00133002,$00013302,$00001333
	dc.l $00002113,$00022221,$00002222,$00000222,$00000002,$00000002,$00000121,$00001010
	dc.l $00000101,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$30000000,$30000000,$22200000,$22220000,$22222210
	dc.l $32222181,$13222212,$22222222,$22222200,$22222200,$00200200,$02010201,$10102010
	dc.l $01010101,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$01170000
	dc.l $20007000,$20000000,$27000700,$01777100,$00111000,$00000000,$00000000,$10000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000003,$00000023,$00000023,$00000023
	dc.l $00000022,$00000002,$00330002,$01333302,$00113330,$00001133,$00022211,$00002222
	dc.l $00000222,$00000002,$00000002,$00000121,$00001010,$00000101,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$30000000,$30000000,$33000000
	dc.l $33000000,$32200000,$32220000,$22220000,$22222210,$32222181,$33222212,$22222222
	dc.l $22222200,$22222200,$00200200,$02010201,$10102010,$01010101,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$01170000,$20007000,$20000000,$27000700
	dc.l $01777100,$00111000,$00000000,$00000000,$10000000,$00000000,$00000000,$00000000
	dc.l $00000888,$00088000,$00800000,$08000880,$08008000,$80000000,$80000000,$80000000
	dc.l $80000000,$80000000,$80000000,$08000000,$08000000,$00800000,$00088000,$00000888
	dc.l $88800000,$00088000,$00000800,$00000080,$00000080,$00000008,$00000008,$00000008
	dc.l $00000008,$00000008,$00000008,$00000080,$00800080,$88000800,$00088000,$88800000
	dc.l $00000111,$00011444,$00144444,$01444444,$01444444,$14444446,$14444466,$14444666
	dc.l $14444666,$14444466,$14444446,$01444444,$01444444,$00144444,$00011444,$00000111
	dc.l $11100000,$44411000,$44444100,$44444410,$44444410,$64444441,$66444441,$66644441
	dc.l $66644441,$66444441,$64444441,$44444410,$44444410,$44444100,$44411000,$11100000
	dc.l $00000111,$00011222,$00122222,$01222222,$01222222,$12222223,$12222233,$12222333
	dc.l $12222333,$12222233,$12222223,$01222222,$01222222,$00122222,$00011222,$00000111
	dc.l $11100000,$22211000,$22222100,$22222210,$22222210,$32222221,$33222221,$33322221
	dc.l $33322221,$33222221,$32222221,$22222210,$22222210,$22222100,$22211000,$11100000
	dc.l $00000111,$00011555,$00155555,$01555555,$01555555,$15555557,$15555577,$15555777
	dc.l $15555777,$15555577,$15555557,$01555555,$01555555,$00155555,$00011555,$00000111
	dc.l $11100000,$55511000,$55555100,$55555510,$55555510,$75555551,$77555551,$77755551
	dc.l $77755551,$77555551,$75555551,$55555510,$55555510,$55555100,$55511000,$11100000
	dc.l $00088000,$00088000,$00A88A00,$00888800,$00888800,$00888800,$008AA800,$0A8008A0
	dc.l $088AA880,$08888880,$08888880,$088AA880,$A880088A,$88A00A88,$88000088,$88000088
	dc.l $88888800,$88888880,$88A0A880,$88000A80,$88000A80,$88000880,$88A0A880,$88888800
	dc.l $88888800,$88A0A880,$88000880,$88000A80,$88000A80,$88A0A880,$88888880,$88888800
	dc.l $08888880,$88888888,$88A00A88,$88000088,$88000000,$88000000,$88000000,$88000000
	dc.l $88000000,$88000000,$88000000,$88000000,$88000088,$88A00A88,$88888888,$08888880
	dc.l $08888800,$88888880,$88808880,$88808880,$88808880,$88888880,$08888800,$00000000
	dc.l $00888000,$08888000,$08888000,$00888000,$00888000,$08888800,$08888800,$00000000
	dc.l $88888800,$88888880,$00088880,$00888800,$08888000,$88888880,$88888880,$00000000
	dc.l $88888800,$88888880,$00008880,$00888800,$00008880,$88888880,$88888800,$00000000
	dc.l $00888880,$08888880,$88888880,$88808880,$88888880,$88888880,$00008880,$00000000
	dc.l $88888880,$88888880,$88800000,$88888800,$00008880,$88888880,$88888800,$00000000
	dc.l $08888800,$88888800,$88800000,$88888800,$88808880,$88888880,$08888800,$00000000
	dc.l $88888880,$88888880,$00008880,$00088800,$00088800,$00888000,$00888000,$00000000
	dc.l $08888800,$88888880,$88808880,$08888800,$88808880,$88888880,$08888800,$00000000
	dc.l $08888800,$88888880,$88808880,$08888880,$00008880,$08888880,$08888800,$00000000
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $00080000,$00888000,$08888800,$88888880,$00888000,$00888000,$00888000,$00888000
	dc.l $00008000,$00008800,$88888880,$88888888,$88888880,$00008800,$00008000,$00000000
	dc.l $00888000,$00888000,$00888000,$00888000,$88888880,$08888800,$00888000,$00080000
	dc.l $00080000,$00880000,$08888888,$88888888,$08888888,$00880000,$00080000,$00000000
	dc.l $00000000,$00000000,$00000011,$00000188,$000018AA,$00018AA8,$0018AA8A,$0018AAAA
	dc.l $0018AAAA,$00018AA8,$000018AA,$00000188,$00000011,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$10000000,$81000000,$A8100000,$AA810000,$AAA81000,$AAA81000
	dc.l $8AA81000,$AA810000,$A8100000,$81000000,$10000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000011,$00000019,$00000111,$00001992,$00019992,$00199992
	dc.l $00199992,$00199999,$00019999,$00001999,$00000199,$00000011,$00000000,$00000000
	dc.l $00000000,$00000000,$10000000,$10000000,$11000000,$99100000,$99910000,$99991000
	dc.l $99991000,$29991000,$92910000,$99100000,$91000000,$10000000,$00000000,$00000000
	dc.l $0000AAAA,$000A1111,$00A11111,$00A11111,$0A111122,$AA111122,$A1112222,$A1112222
	dc.l $A1111122,$AA111122,$AAA11111,$0AA11111,$0AAA1111,$00AAAAAA,$000AAAAA,$000AAAAA
	dc.l $AA000000,$11AAAAAA,$11111111,$11111111,$11111122,$11111121,$22221121,$22221122
	dc.l $11111121,$11111121,$11111111,$11111111,$11AAAAAA,$AAAAAAAA,$AAAAAAAA,$AA000000
	dc.l $00000000,$AAAAAA00,$111111AA,$11111111,$11121122,$21212121,$21212122,$11212121
	dc.l $11212121,$11121122,$11111111,$111111AA,$AAAAAAAA,$AAAAAAAA,$AAAAAA00,$00000000
	dc.l $00000000,$00000000,$AAAAA000,$11111AA0,$1111111A,$1111111A,$1111111A,$1111111A
	dc.l $1111111A,$1111111A,$11111AAA,$AAAAAAAA,$AAAAAAAA,$AAAAA000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00002200,$00000200,$00000000,$00002000
	dc.l $00002000,$00022220,$00000002,$00000002,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00022200,$02222200,$00022200
	dc.l $00022000,$00000000,$22000000,$22000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000222,$00002222
	dc.l $00002220,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$22200000,$22200000,$02000000,$00000000,$00000000,$00000000,$00000000
	dc.l $02200000,$22222000,$00022000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$02220000,$02222200,$00022200,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000002,$00000000,$00200000,$00220000,$00000000,$00000000,$02220000
	dc.l $02220000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$20000000,$22000000,$02200000,$00000000,$00000000,$00000000,$00000000
	dc.l $00220000,$00022000,$00022000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$22000000,$20000000,$00000000,$00220000,$00222200,$00002200
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000222,$00000002,$00000000
	dc.l $00000000,$00000000,$00000000,$00222000,$02220000,$02200000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$20000220,$00000000
	dc.l $00000000,$00000000,$00022000,$00022000,$00002000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000022,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00222200,$02222200,$00002000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$20000000,$20000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00020000,$00022200,$00022222,$00022202,$00000000,$00000000
SPRDEF_TD_Pal1:
	dc.w COMPRESSION_None
	dc.w 124	;Number of cells
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000BBB,$00009999,$00000D9D,$00001010,$00010101,$00001010,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $0000000A,$9BB9A00B,$999BB9B9,$DD999999,$D9DDD99D,$010D9DDD,$10101010,$00000000
	dc.l $00000000,$00000000,$000ABBB0,$009BBA99,$0A9BB999,$ABB999CC,$ABB99955,$BB99DD9C
	dc.l $9B9DD09C,$B9DDE09C,$9999909C,$9DDDEE09,$D9DEEE10,$E9EEE101,$10101010,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$90000000,$90000000
	dc.l $90000000,$90000000,$90000000,$00000000,$10000000,$01000000,$10000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $000BBB9B,$00999999,$000DD9DD,$00000009,$00001010,$00010101,$00001010,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$0000000A,$00000009
	dc.l $B9A000AA,$9BB9B9A9,$9999999D,$DDD99DD9,$1D9DDEE9,$01010101,$10101010,$00000000
	dc.l $00000000,$00000000,$000ABBB0,$0A9BBA99,$AA9BB999,$ABB999CC,$BB999955,$B9DDDD9C
	dc.l $9DDE009C,$999E009C,$DDE9009C,$EEE00009,$EE101010,$01010101,$10101010,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$90000000,$90000000
	dc.l $90000000,$90000000,$90000000,$00000000,$10000000,$01000000,$10000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$0BB00000
	dc.l $099B9BBB,$00D99999,$000D9D9D,$000000DD,$00000000,$00000101,$00001010,$00000101
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000009
	dc.l $B90000AA,$9B9BB9A9,$9999999D,$DD99DD9E,$ED9DEE9E,$01010101,$10101010,$01010101
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$000AABBB,$00A9BBA9,$0AB9BB99,$ABBB999C,$BB999995
	dc.l $99DDDDD9,$99EEE009,$DD9E0009,$EE000009,$E0000000,$01010101,$10101010,$01010101
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$90000000,$90000000,$C0000000,$59000000
	dc.l $C9000000,$C9000000,$C9000000,$C9000000,$90000000,$01000000,$10100000,$01000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00042200,$00042266,$00004622,$00000644,$00000046
	dc.l $00000000,$00000000,$00000000,$00000000,$00000001,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00022333,$00422253,$00442222,$00064222
	dc.l $00006442,$00001664,$00004176,$00000477,$00000423,$00000042,$00000046,$00000024
	dc.l $00000027,$00000002,$00000004,$00000004,$00022647,$22264426,$62264464,$46446600
	dc.l $04220000,$04220000,$42266000,$42101010,$04210101,$10101010,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$33000000,$33300000,$23330000
	dc.l $22222000,$42222006,$64244064,$70440644,$33006466,$33664660,$23644000,$66644000
	dc.l $44440002,$78880002,$23330007,$23330000,$33330000,$83300000,$68800000,$42660000
	dc.l $42166000,$42211000,$04211000,$14221010,$01422101,$10101010,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$44000000,$24400000,$42440000,$62440000,$02244000,$23244000,$23244000
	dc.l $73244000,$73220000,$32220000,$32200000,$22000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00004200,$00004226,$00000462,$00000064
	dc.l $00000004,$00000000,$00000000,$00000000,$00000000,$00000001,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00002233,$00042225,$00044222
	dc.l $00006422,$00000644,$00000166,$00000417,$00000047,$00000042,$00000004,$00000004
	dc.l $00000002,$00000002,$00000000,$00000000,$00000000,$00002264,$22226442,$46226446
	dc.l $64644600,$04206000,$04206000,$42000600,$42101010,$04210101,$10101010,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$33000000,$23300000
	dc.l $22330000,$22222000,$44222006,$66424061,$70040610,$33006106,$23361064,$62346640
	dc.l $46664400,$74440002,$27880002,$42330007,$42330000,$73330000,$68300000,$46866000
	dc.l $42001600,$42000100,$42000100,$04200000,$14201010,$01420101,$10101010,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$60000000,$16400000,$64240000,$44424000,$07024000,$27022400
	dc.l $27032400,$70032400,$70032400,$00032000,$00322000,$00320000,$00200000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00004200,$00004226,$00000462
	dc.l $00000064,$00000004,$00000000,$00000000,$00000004,$00000004,$00000001,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00002233,$00042225
	dc.l $00044222,$00006422,$00000644,$00000166,$00000417,$00000047,$00000042,$00000004
	dc.l $00000004,$00000002,$00000002,$00000000,$00000000,$00000000,$00002264,$22226442
	dc.l $46226446,$64644604,$42000604,$42000064,$20000000,$20101010,$42010101,$10101010
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$33000000
	dc.l $23300000,$22330000,$22222000,$44222066,$66424611,$70046100,$33061006,$23310064
	dc.l $62346642,$46664402,$74440027,$27880027,$42330070,$42330000,$73330000,$68366000
	dc.l $46801600,$20000160,$20000010,$20000010,$42000000,$42101010,$04210101,$10101010
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$70000000,$76640000,$64424000,$44042400
	dc.l $70002400,$70002240,$00003240,$00003240,$00003240,$00003200,$00032200,$00032000
	dc.l $00020000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00002200,$00000200,$00000000
	dc.l $00002000,$00002000,$00022220,$00000002,$00000002,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00022200,$02220200
	dc.l $00022200,$00022000,$00000000,$22000000,$22000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000220
	dc.l $00000222,$00000200,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$22200000,$20200000,$02000000,$00000000,$00000000,$00000000
	dc.l $00000000,$02000000,$02220000,$00002000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$02220000,$02002000,$00000200
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00200000,$00020000,$00000000,$00000000
	dc.l $00020000,$02220000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$20000000,$22000000,$02000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00220000,$00022000,$00002000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$22000000,$20000000,$00000000,$00200000,$00222200
	dc.l $00000200,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000222,$00000002
	dc.l $00000000,$00000000,$00000000,$00000000,$00222000,$02020000,$00200000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$20000020
	dc.l $00000000,$00000000,$00000000,$00002000,$00022000,$00002000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000022,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00222200,$02220200,$00002000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$20000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00020000,$00022200,$00022222,$00022202,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00009900,$00000900,$00000000
	dc.l $00009000,$00009000,$00099990,$00000009,$00000009,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00099900,$09990900
	dc.l $00099900,$00099000,$00000000,$99000000,$99000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000999
	dc.l $00009999,$00009990,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$99900000,$99900000,$09000000,$00000000,$00000000,$00000000
	dc.l $00000000,$09900000,$99999000,$00099000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$09990000,$09999900,$00099900
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000009,$00000000,$00900000,$00990000,$00000000,$00000000
	dc.l $09990000,$09990000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$90000000,$99000000,$09900000,$00000000,$00000000,$00000000
	dc.l $00000000,$00990000,$00099000,$00099000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$99000000,$90000000,$00000000,$00990000,$00999900
	dc.l $00009900,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000999,$00000009
	dc.l $00000000,$00000000,$00000000,$00000000,$00999000,$09990000,$09900000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$90000990
	dc.l $00000000,$00000000,$00000000,$00099000,$00099000,$00009000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000099,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00999900,$09999900,$00009000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$90000000,$90000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00090000,$00099900,$00099999,$00099909,$00000000
SPRDEF_Coffee_Pal0:
	dc.w COMPRESSION_None
	dc.w 421	;Number of cells
	dc.l $00000000,$00000000,$00005555,$00055777,$00557766,$00577776,$05555577,$05777557
	dc.l $05776755,$55576675,$57776667,$55776667,$57767667,$55776667,$57767667,$55776667
	dc.l $05577667,$05776667,$05577667,$05756766,$00575766,$00055577,$00000555,$00000000
	dc.l $00000000,$00000000,$50000000,$55500000,$77550000,$76750000,$66755000,$76675000
	dc.l $77675500,$57767500,$57776750,$57766750,$57776750,$57766675,$57776675,$57766675
	dc.l $57776675,$57767675,$55776675,$75577755,$67557550,$77755500,$55550000,$00000000
	dc.l $00000000,$00000000,$00000055,$00000555,$00055577,$00055577,$00555555,$00555555
	dc.l $00557575,$05575777,$05557776,$55577766,$55757776,$55577666,$55777766,$55577666
	dc.l $55777766,$55577666,$55777766,$55577676,$05557766,$05577776,$05557766,$00577776
	dc.l $00557767,$00575776,$00055757,$00000555,$00000055,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$55555500,$77777555,$77666775,$76766667,$77667667,$55776767
	dc.l $55577766,$55557767,$75555576,$67555577,$66655577,$66675577,$66675577,$66675577
	dc.l $66675577,$66675577,$66675577,$66675577,$66675577,$66675577,$66675557,$66675557
	dc.l $66667555,$76667755,$77666675,$75777777,$55555555,$55555555,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$50000000,$55000000,$55000000,$75500000,$75550000
	dc.l $67550000,$67555000,$77755000,$66775500,$76667550,$66667550,$76667555,$66667555
	dc.l $76667775,$66666755,$76666775,$66666755,$76666775,$67666755,$76766775,$77667755
	dc.l $57775555,$55757555,$55575550,$75555500,$55550000,$55000000,$00000000,$00000000
	dc.l $02222220,$22222222,$22244222,$224BB422,$224BB422,$22244222,$22222222,$02222220
	dc.l $00000000,$00000000,$00000000,$00077000,$00777700,$00777700,$00077000,$00000000
	dc.l $00000000,$00000000,$00000000,$00770000,$07777000,$07777000,$00770000,$00000000
	dc.l $00000000,$00007700,$00077770,$00077770,$00007700,$00000000,$00000000,$00000000
	dc.l $00000000,$00000770,$00007777,$00007777,$00000770,$00000000,$00000000,$00000000
	dc.l $07700000,$77770000,$77770000,$07700000,$00000007,$00000077,$00000077,$00000007
	dc.l $00000000,$00000000,$00000770,$00007777,$00007777,$00000770,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00077000,$00777700
	dc.l $00777700,$00077000,$00000000,$00000000,$70000000,$77000000,$77000000,$70000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00555500,$05556750,$57757650,$55675775,$57665765
	dc.l $57665765,$57665765,$05665765,$05667575,$00555550,$00000000,$00000000,$00000000
	dc.l $0AAAACCC,$CCCCCCAA,$CCCCCACA,$CCCCCCAA,$CCCCCCCA,$CCCCCCAA,$0CCCCCCA,$0CCCCCAC
	dc.l $0CCCCCCA,$0CCCCCAC,$00CCCCCA,$00CCCCAC,$00CCCCCA,$000CCCCC,$000CCCCA,$000CCCCC
	dc.l $0000CCCA,$0000CCCC,$0000CCCA,$0000CCCC,$00000CCC,$00000CCC,$00000CCC,$000000CC
	dc.l $CC3CAAAA,$A3A33333,$AA3A3333,$A3A33333,$A33A3333,$A3A33333,$AA3A3333,$A3A33333
	dc.l $A33A3333,$AAA33333,$AA3A3333,$AAA33333,$AA3A3333,$AAA3A333,$AA3A3333,$AAA3A333
	dc.l $CAAA3333,$AAA3A333,$CAAA3333,$AAA3A333,$CAAA3333,$AAA3A333,$CAAA3333,$ACA3A333
	dc.l $AAAACC00,$33333AAA,$33333AAA,$3333A3AA,$333333AA,$3333A3AA,$33333AAA,$3333A3AA
	dc.l $333A33AA,$3333A3A0,$333A3AA0,$3333A3A0,$333A33A0,$3333A3A0,$333A3AA0,$3333AAA0
	dc.l $333A3AA0,$3333AAA0,$333A3AA0,$33A3AA00,$333A3A00,$33A3AA00,$333A3A00,$33A3AA00
	dc.l $00000000,$CCCCC000,$AACAAC00,$3AAAAC00,$3AAACC00,$000CACC0,$000ACCC0,$000CACC0
	dc.l $000ACCC0,$000AACC0,$000ACCC0,$0000ACC0,$0000ACC0,$0000ACCC,$0000CACC,$0000ACCC
	dc.l $0000AACC,$0000AACC,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $0000CCCC,$0000CCCC,$000CCCCC,$00067CCC,$00067CCC,$00067CCC,$00CCCCCC,$00CCCCCC
	dc.l $00CCCCCC,$00CCCCCA,$0CCCCCAC,$0CCCCACC,$0CCCACAA,$0AAAAACA,$0000AAAA,$000000A3
	dc.l $CAAAAA33,$CCAAA333,$CACAAA33,$CCAAA3A3,$CAAAAA33,$CCAAA3A3,$CACAAA33,$ACAAA3A3
	dc.l $CACAAA33,$ACAAA3A3,$AACAAA33,$ACAAA3A3,$AACAAA33,$ACAAAAA3,$3333333A,$3333333A
	dc.l $AAAAA000,$33AAA000,$3A3AA000,$33AAAA00,$333AAA00,$33AAAA00,$333AAAA0,$33A3AAA0
	dc.l $3333AAA0,$3333AAAA,$333A3AAA,$3333AAAA,$33333AA0,$3333ACC0,$3AACCCC0,$AAA00000
	dc.l $00000033,$00000CCC,$0000C3DD,$00CC3DCC,$0CC3DCCC,$0CCC3D80,$000CC308,$0000C380
	dc.l $0000C308,$0000C380,$0000C308,$0000C380,$0000C308,$0000C380,$0000C308,$0000C389
	dc.l $0000C309,$0000C380,$0000C308,$0000C380,$0000C308,$0000C380,$0000C308,$0000C383
	dc.l $0000C303,$0000C380,$0000C308,$0000C380,$0000C338,$0000CCC3,$0000033C,$00000003
	dc.l $33333333,$CCCCCCCC,$DDDCCCCC,$CCCCCCCC,$CC3CCCCC,$80308080,$03080808,$83808080
	dc.l $38080808,$30899030,$08099838,$80808380,$08080308,$80803080,$08083808,$90808080
	dc.l $98080808,$80808099,$08080899,$83808080,$03099808,$30899080,$38080808,$80808080
	dc.l $08080803,$80998083,$08990838,$80808030,$08080808,$3CDCDCDC,$CCCCCCCC,$33333333
	dc.l $33300000,$CC330000,$CD330000,$CC330000,$CDC30000,$8C330000,$0DC30000,$8C330000
	dc.l $0DC30000,$8C330000,$0DC30000,$8C330000,$0DC30000,$8C330000,$0DC30000,$8C330000
	dc.l $0DC30000,$8C330000,$0DC30000,$8C330000,$0DC30000,$8C330000,$3DC30000,$3C330000
	dc.l $0DC30000,$8C330000,$0DC30000,$8C330000,$CDC30000,$DC330000,$C3300000,$30000000
	dc.l $0000DDDD,$0000DACC,$000000DC,$0000001D,$000000DD,$0000001D,$000000DD,$0000001D
	dc.l $000000DD,$0000001D,$000000DD,$0000001D,$000000DD,$0000001D,$000000DD,$0000001D
	dc.l $000000DD,$0000001D,$000000DD,$0000001D,$000000DD,$0000001D,$000000DD,$0001D1DD
	dc.l $001DDDDD,$001DDDDD,$0001DDDD,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $DDDD0000,$C3CD0000,$CC000000,$DC000000,$CC000000,$DC000000,$CC000000,$DC000000
	dc.l $CC000000,$DC000000,$CC000000,$DC000000,$CC000000,$DC000000,$CC000000,$DC000000
	dc.l $CC000000,$DC000000,$CC000000,$DC000000,$CC000000,$DC000000,$CC000000,$DCDCC000
	dc.l $DDCDCC00,$DDDCDC00,$DDCCC000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000001,$00000010,$00000010,$00000100,$00000100,$00001000,$00001000,$00010000
	dc.l $00011000,$00112100,$00122211,$00011222,$00000122,$00000012,$00000001,$00000000
	dc.l $00000001,$00000000,$00000011,$00000012,$00000112,$00000122,$00001122,$00001224
	dc.l $00001111,$00000100,$00001000,$00010000,$00100000,$00100000,$01000030,$10000300
	dc.l $00003000,$00030000,$00000000,$00000000,$00000000,$00000000,$00000000,$00003000
	dc.l $00000000,$00000000,$00000000,$11000000,$22111100,$22222211,$12444444,$12444444
	dc.l $12444444,$12444444,$11111111,$22222222,$22222444,$22244444,$44444444,$44444444
	dc.l $11111111,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$11110000,$44441001,$44441011
	dc.l $44441122,$44441222,$11111112,$22222212,$44444411,$44444441,$44444421,$44422222
	dc.l $11111111,$00000001,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00001111,$00112222,$01222222,$12222244,$12224444,$22244444,$22444411
	dc.l $22441100,$22110000,$24100000,$21000000,$21000000,$10000000,$10000000,$10000000
	dc.l $10000000,$00000000,$10000000,$01000000,$00100000,$00100000,$00010000,$00001000
	dc.l $00000100,$00000010,$00000010,$00000001,$00000001,$00000000,$00000000,$00000000
	dc.l $00000000,$11111111,$22222222,$22444444,$44444444,$44444444,$44444444,$11144444
	dc.l $00011444,$00000144,$00000014,$00000014,$00000001,$00000001,$00000001,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$10000000,$10000000,$01000000
	dc.l $00000000,$00000000,$11000000,$22100000,$44100000,$44100000,$44410000,$44410000
	dc.l $44410000,$44410000,$44410000,$44410000,$44410000,$44410000,$44441000,$14441000
	dc.l $14441000,$14441000,$01441000,$01441000,$01444100,$01444100,$01444100,$01444100
	dc.l $01444100,$00144100,$00144410,$00144410,$00144410,$00144410,$00114410,$00014441
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00010000,$00100000,$00100000,$01000000,$01000000,$01000000,$10000000,$10000000
	dc.l $10000000,$10000000,$11111111,$11188888,$18811888,$18888111,$18888888,$18888888
	dc.l $01888888,$01888888,$01888888,$01888888,$01888888,$01888888,$00188888,$00188888
	dc.l $00018888,$00018888,$00001888,$00001888,$00000188,$00000018,$00000001,$00000000
	dc.l $00030000,$00300000,$03000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000111,$11111888,$88888888,$88888888,$88888888,$11111118,$88888881,$88888888
	dc.l $88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888
	dc.l $88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$11111111
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $11111111,$88888888,$88888888,$88888888,$88888888,$88888888,$11111111,$88888888
	dc.l $88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888
	dc.l $88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$11111111
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $11111111,$88888888,$88888888,$88888888,$88888888,$88888811,$11111188,$88888888
	dc.l $88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888
	dc.l $88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$11111111
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$11111000,$88888111,$88888888,$88888888,$11111111,$88888888,$88888888
	dc.l $88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888,$88888888
	dc.l $88888888,$88888888,$88888888,$88888888,$88888881,$88888810,$88888100,$11111000
	dc.l $01000000,$00100000,$00100000,$00010000,$00010000,$00010000,$00001000,$00001000
	dc.l $00001000,$00001000,$11111000,$88111000,$11881000,$88881000,$88881000,$88881000
	dc.l $88810000,$88810000,$88810000,$88810000,$88810000,$88810000,$88100000,$88100000
	dc.l $81000000,$81000000,$10000000,$10000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00014441,$00001441,$00001444,$00001444,$00001444,$00000144,$00000144,$00000014
	dc.l $00000014,$00000001,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$10000000,$10000000,$10000000,$10000000,$41000000,$41000000
	dc.l $44100000,$44410000,$14441000,$01444100,$01411000,$00100000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$0CCAA000,$CCACCC00,$CACCCCC0,$CACCCCC0,$0CCCCCC0,$00CCCC00,$00CCC000
	dc.l $00000000,$00000000,$00000000,$00000000,$000000CC,$00000CCA,$0000CCAC,$0000CCCC
	dc.l $000CCCCC,$000CACCC,$000CACCC,$000CCCCC,$00000CCC,$000000CC,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$C0000000,$ACC00000,$CCC00000,$CCCC0000
	dc.l $CCCC0000,$CCC00000,$CAAC0000,$ACCC0000,$CCC00000,$C0000000,$00000000,$00000000
	dc.l $00000000,$000CCCCC,$00CCAAAC,$00CACCCA,$0CCACCCC,$0CCACCCC,$0CCCACCC,$0CCCCCCC
	dc.l $0CCCCCAA,$00CCCACC,$00CCCACC,$00CCCACC,$000CCCAC,$0000CCCC,$00000000,$00000000
	dc.l $00000000,$0CCC0000,$CCCCC000,$CCCAAC00,$CCACCC00,$CCACCC00,$CCACCC00,$CCCCCC00
	dc.l $CCCCCC00,$AACCCC00,$CCACCC00,$CCCCCC00,$CCCCC000,$CCCC0000,$00000000,$00000000
	dc.l $000CCCCC,$00CCAAAC,$0CCACCCA,$CCCACCCC,$CCACCCCC,$CCACCCCC,$CCCACCCC,$CCCCCCCC
	dc.l $CCCCCCCC,$0CCCAAAC,$0CCACCCC,$0CCACCCC,$00CACCCC,$000CACCC,$000000CC,$00000000
	dc.l $CCCCC000,$CCCCCC00,$CCCCCC00,$CCCAAC00,$CCACCCC0,$CACCCCC0,$CACCCCC0,$CACCCCC0
	dc.l $CCACCCC0,$CCCCCCC0,$CCCCCCC0,$CCCAAAC0,$CCACCC00,$CCACC000,$CCAC0000,$00000000
	dc.l $00000555,$00005555,$00055557,$00555575,$00555557,$05555575,$05555757,$05557577
	dc.l $05555757,$05557577,$05555777,$00557577,$00555777,$00057577,$00055777,$00007577
	dc.l $00005777,$00000576,$00000777,$00000076,$00000077,$00000076,$00000077,$00000076
	dc.l $00000077,$00000076,$00000077,$00000076,$00000077,$00000076,$00000077,$00000006
	dc.l $57500000,$75770000,$57576000,$75777600,$57776600,$77767660,$77776660,$77766660
	dc.l $77776660,$77766660,$77676660,$77766600,$77666600,$77766000,$77666000,$76660000
	dc.l $67660000,$76600000,$66600000,$76000000,$66000000,$76000000,$66000000,$76000000
	dc.l $66000000,$76000000,$66000000,$76000000,$66000000,$76000000,$66000000,$70000000
	dc.l $00000000,$00000000,$00000022,$00002222,$00022222,$00022222,$00222222,$00222222
	dc.l $00222222,$00022222,$00022222,$00002222,$00000022,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$20000000,$22200000,$22220000,$22220000,$22222000,$22222000
	dc.l $22222000,$22220000,$22220000,$22200000,$20000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000022,$00002222,$00022211,$00022141,$00221414
	dc.l $00221144,$00221414,$00022144,$00022244,$00002222,$00000022,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$20000000,$22200000,$12220000,$41220000,$44422000
	dc.l $44422000,$44422000,$44220000,$42220000,$22200000,$20000000,$00000000,$00000000
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$333311DD,$333311DD,$333311DD,$333311DD
	dc.l $333311DD,$333311DD,$333311DD,$333311DD,$333311DD,$333311DD,$333311DD,$333311DD
	dc.l $333311DD,$333311DD,$333311DD,$333311DD,$333311DD,$333311DD,$333311DD,$333311DD
	dc.l $333311DD,$333311DD,$333311DD,$333311DD,$333311DD,$333311DD,$3333DDDD,$3333DDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$311111DD,$311111DD,$311111DD,$311111DD
	dc.l $311111DD,$311111DD,$311111DD,$311111DD,$311111DD,$311111DD,$311111DD,$311111DD
	dc.l $311111DD,$311111DD,$311111DD,$311111DD,$311111DD,$311111DD,$311111DD,$311111DD
	dc.l $311111DD,$311111DD,$311111DD,$311111DD,$311111DD,$311111DD,$3DDDDDDD,$3DDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333311,$33333311,$33333311,$33333311
	dc.l $33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$33333311
	dc.l $33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$33333311
	dc.l $33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$333333DD,$333333DD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33111111,$33111111,$33111111,$33111111
	dc.l $33111111,$33111111,$33111111,$33111111,$33111111,$33111111,$33111111,$33111111
	dc.l $33111111,$33111111,$33111111,$33111111,$33111111,$33111111,$33111111,$33111111
	dc.l $33111111,$33111111,$33111111,$33111111,$33111111,$33111111,$33DDDDDD,$33DDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333311,$33333311,$33333311,$33333311
	dc.l $33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$33333311
	dc.l $33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$33333311
	dc.l $33333311,$33333311,$33333311,$33333311,$33333311,$33333311,$333333DD,$333333DD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33311111,$33311111,$33311111,$33311111
	dc.l $33311111,$33311111,$33311111,$33311111,$33311111,$33311111,$33311111,$33311111
	dc.l $33311111,$33311111,$33311111,$33311111,$33311111,$33311111,$33311111,$33311111
	dc.l $33311111,$33311111,$33311111,$33311111,$33311111,$33311111,$333DDDDD,$333DDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333,$33333333
	dc.l $33333333,$33333333,$33333333,$33333333,$31111111,$31111111,$31111111,$31111111
	dc.l $31111111,$31111111,$31111111,$31111111,$31111111,$31111111,$31111111,$31111111
	dc.l $31111111,$31111111,$31111111,$31111111,$31111111,$31111111,$31111111,$31111111
	dc.l $31111111,$31111111,$31111111,$31111111,$31111111,$31111111,$3DDDDDDD,$3DDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333111,$33333111,$33333111,$33333111
	dc.l $33333111,$33333111,$33333111,$33333111,$33333111,$33333111,$33333111,$33333111
	dc.l $33333111,$33333111,$33333111,$33333111,$33333115,$33333555,$33333551,$33333575
	dc.l $33333557,$33333711,$33333722,$33333722,$33333762,$33333766,$33333DDD,$33333DDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$15555555,$55555555,$55777777,$55557666,$11555776
	dc.l $77555576,$11775557,$22175557,$22217552,$13217522,$11217521,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$55511111,$55555111,$75755511,$67775755,$66117757
	dc.l $11676775,$66667777,$11166775,$22217777,$22216775,$32167677,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$511111DD
	dc.l $511111DD,$511111DD,$551111DD,$551111DD,$551111DD,$555111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333111,$33333111,$33333111,$33333111
	dc.l $33333111,$33333111,$33333111,$33333111,$33333111,$33333111,$33333115,$33333555
	dc.l $33333551,$33333575,$33333557,$33333711,$33333722,$33333722,$33333762,$33333766
	dc.l $33333766,$33333766,$33333776,$33333576,$33333576,$33333576,$33333DDD,$33333DDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$15555555,$55555555,$55777777
	dc.l $55557666,$11555776,$77555576,$11775557,$22175557,$22217552,$13217522,$11217521
	dc.l $66777521,$66677557,$66777557,$66677557,$66777557,$66677557,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$11111111,$11111111,$11111111,$55511111,$55555111,$75755511
	dc.l $67775755,$66117757,$11676775,$66667777,$11166775,$22217777,$22216775,$32167677
	dc.l $16666777,$66666677,$66666777,$66666677,$66666777,$66666677,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$511111DD,$511111DD,$511111DD,$551111DD,$551111DD,$551111DD,$555111DD
	dc.l $755111DD,$555111DD,$755111DD,$555111DD,$755111DD,$555111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333111,$33333111,$33333111,$33333111
	dc.l $33333111,$33333111,$33333111,$33333115,$33333555,$33333551,$33333575,$33333557
	dc.l $33333711,$33333722,$33333722,$33333762,$33333766,$33333766,$33333766,$33333776
	dc.l $33333576,$33333576,$33333576,$33333576,$33333557,$33333155,$33333DDD,$33333DDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$15555555,$55555555,$55777777,$55557666,$11555776,$77555576
	dc.l $11775557,$22175557,$22217552,$13217522,$11217521,$66777521,$66677557,$66777557
	dc.l $66677557,$66777557,$66677557,$66777555,$76677555,$77767555,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11111111,$11111111,$55511111,$55555111,$75755511,$67775755,$66117757,$11676775
	dc.l $66667777,$11166775,$22217777,$22216775,$32167677,$16666777,$66666677,$66666777
	dc.l $66666677,$66666777,$66666677,$66667775,$57666777,$55767775,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$511111DD,$511111DD
	dc.l $511111DD,$551111DD,$551111DD,$551111DD,$555111DD,$755111DD,$555111DD,$755111DD
	dc.l $555111DD,$755111DD,$555111DD,$755111DD,$555111DD,$551111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333111,$33333111,$33333111,$33333115
	dc.l $33333555,$33333551,$33333575,$33333557,$33333711,$33333722,$33333722,$33333762
	dc.l $33333766,$33333766,$33333766,$33333776,$33333576,$33333576,$33333576,$33333576
	dc.l $33333557,$33333155,$33333155,$33333115,$33333115,$33333111,$33333DDD,$33333DDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$15555555,$55555555
	dc.l $55777777,$55557666,$11555776,$77555576,$11775557,$22175557,$22217552,$13217522
	dc.l $11217521,$66777521,$66677557,$66777557,$66677557,$66777557,$66677557,$66777555
	dc.l $76677555,$77767555,$57676775,$57666777,$55776767,$55776676,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$55511111,$55555111
	dc.l $75755511,$67775755,$66117757,$11676775,$66667777,$11166775,$22217777,$22216775
	dc.l $32167677,$16666777,$66666677,$66666777,$66666677,$66666777,$66666677,$66667775
	dc.l $57666777,$55767775,$55577757,$55557575,$75555555,$67755555,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$511111DD,$511111DD,$511111DD,$551111DD,$551111DD,$551111DD
	dc.l $555111DD,$755111DD,$555111DD,$755111DD,$555111DD,$755111DD,$555111DD,$755111DD
	dc.l $555111DD,$551111DD,$551111DD,$511111DD,$511111DD,$511111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333335,$33333555,$33335551,$33355575,$33355557
	dc.l $33355711,$33357722,$33355722,$33357762,$33355766,$33357766,$33355766,$33357776
	dc.l $33355576,$33355576,$33335576,$33335576,$33333557,$33333155,$33333155,$33333115
	dc.l $33333115,$33333111,$33333111,$33333111,$33333111,$33333111,$33333DDD,$33333DDD
	dc.l $33333333,$33333333,$35555555,$55555555,$55777777,$55557666,$11555776,$77555576
	dc.l $11775557,$22175557,$22217552,$13217522,$11217521,$66777521,$66677557,$66777557
	dc.l $66677557,$66777557,$66677557,$66777555,$76677555,$77767555,$57676775,$57666777
	dc.l $55776767,$55776676,$15576666,$15557766,$11555577,$11111555,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$55533333,$55555333,$75755511,$67775755,$66117757,$11676775
	dc.l $66667777,$11166775,$22217777,$22216775,$32167677,$16666777,$66666677,$66666777
	dc.l $66666677,$66666777,$66666677,$66667775,$57666777,$55767775,$55577757,$55557575
	dc.l $75555555,$67755555,$76777555,$67777555,$77755511,$55555111,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$511111DD,$511111DD
	dc.l $511111DD,$551111DD,$551111DD,$551111DD,$555111DD,$755111DD,$555111DD,$755111DD
	dc.l $555111DD,$755111DD,$555111DD,$755111DD,$555111DD,$551111DD,$551111DD,$511111DD
	dc.l $511111DD,$511111DD,$111111DD,$111111DD,$111111DD,$111111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333355,$33335555,$33355515,$33555751,$33555577,$33557111
	dc.l $33577222,$33557222,$33577621,$33557661,$33577666,$33557666,$33557666,$33577766
	dc.l $33555766,$33555766,$33355766,$33355767,$33335577,$33333555,$33333555,$33333155
	dc.l $33333115,$33333111,$33333111,$33333111,$33333111,$33333111,$33333DDD,$33333DDD
	dc.l $33333333,$55555555,$55555555,$57777777,$55576666,$15557766,$75555761,$17755576
	dc.l $21755571,$22175522,$32175222,$12175213,$67775211,$66775576,$67775576,$66775576
	dc.l $67775576,$66775576,$67775556,$66775555,$77675555,$76767755,$76667775,$57767677
	dc.l $57766766,$55766667,$55577666,$15555777,$11115555,$11111111,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$55333333,$55553333,$57555133,$77757551,$61177575,$16767755,$66677775
	dc.l $11667755,$22177775,$22167755,$21676775,$66667777,$66666775,$66667777,$66666775
	dc.l $66667777,$66666775,$66677757,$76667775,$57677755,$55777575,$55575755,$55555555
	dc.l $77555555,$67775551,$77775551,$77555111,$55551111,$11111111,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $511111DD,$511111DD,$511111DD,$511111DD,$511111DD,$511111DD,$511111DD,$511111DD
	dc.l $511111DD,$511111DD,$511111DD,$511111DD,$511111DD,$511111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$33333111,$33333111,$33333111,$33333111
	dc.l $33333111,$33333177,$33333555,$33337555,$33755577,$33555555,$37555555,$75575575
	dc.l $55557767,$55577666,$75576666,$75776655,$35576655,$37577655,$37557666,$37577666
	dc.l $33755766,$33755776,$33757576,$33355557,$33375557,$33337557,$33333DDD,$33333DDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $11775575,$55555555,$55557575,$57776777,$76666666,$77776666,$55576666,$55557666
	dc.l $75557666,$66755655,$66755555,$55755556,$55575676,$67775576,$66775576,$67777557
	dc.l $66677557,$66777555,$66677555,$66677755,$67666755,$67777677,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$11111111,$11111111,$11111111,$11111111
	dc.l $77111111,$55551111,$57575111,$77555111,$67775711,$67775551,$66777551,$67775557
	dc.l $66677755,$56767775,$56677755,$66666777,$66667775,$66666777,$66667775,$66666675
	dc.l $66667777,$66666775,$55776775,$55557757,$55555755,$75555555,$DDDDDDDD,$DDDDDDDD
	dc.l $33333333,$33333333,$33333333,$33333333,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD,$111111DD
	dc.l $111111DD,$111111DD,$711111DD,$511111DD,$511111DD,$571111DD,$551111DD,$751111DD
	dc.l $551111DD,$551111DD,$751111DD,$551111DD,$551111DD,$551111DD,$DDDDDDDD,$DDDDDDDD
	dc.l $00000000,$00000000,$00000000,$000AA000,$000AA000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$000AA000,$00A00A00,$00A00A00,$000AA000,$00000000,$00000000
	dc.l $00000000,$000AA000,$00A00A00,$0A0000A0,$0A0000A0,$00A00A00,$000AA000,$00000000
	dc.l $00000000,$0A0000A0,$00000000,$00000000,$00000000,$00000000,$0A0000A0,$00000000
SPRDEF_Coffee_Pal0_Bean1:
	dc.w COMPRESSION_None
	dc.w 20	;Number of cells
	dc.l $00000000,$00000000,$00000055,$00000555,$00005775,$00005567,$00005766,$00005766
	dc.l $00005766,$00000566,$00000566,$00000055,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$55000000,$67500000,$76500000,$57750000,$57650000,$57650000
	dc.l $57650000,$57650000,$75750000,$55500000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000057,$00000477,$00000567,$00005677,$00005775
	dc.l $00005756,$00005657,$00005757,$00000555,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$55000000,$57500000,$76650000,$56650000,$66500000
	dc.l $66700000,$67500000,$55000000,$75000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000045,$00000576,$00005767,$00005775
	dc.l $00056756,$00057576,$00005577,$00004575,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$44000000,$67500000,$75540000,$75650000,$56650000
	dc.l $66650000,$67500000,$75400000,$50000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000055,$00000576,$00005677,$00057755
	dc.l $00055576,$00045576,$00005755,$00000455,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$55550000,$66754000,$77575000,$55765000
	dc.l $66665000,$66750000,$77500000,$54000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000555,$00005767,$00005777,$00045555
	dc.l $00005766,$00005756,$00000557,$00000005,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$55000000,$66754000,$77677000,$55755500
	dc.l $66575000,$66665000,$77654000,$55400000,$00000000,$00000000,$00000000,$00000000
SPRDEF_Coffee_Pal0_Bean2:
	dc.w COMPRESSION_None
	dc.w 42	;Number of cells
	dc.l $00000000,$00000000,$00005555,$00055575,$00555767,$00577776,$05555577,$05577557
	dc.l $05776755,$55576675,$57776667,$55776667,$57767667,$55776667,$57767667,$55776667
	dc.l $05577667,$05776667,$05577667,$05755766,$00575577,$00055555,$00000555,$00000000
	dc.l $00000000,$00000000,$50000000,$55500000,$55550000,$76550000,$66755000,$76675000
	dc.l $77675500,$57767500,$57776550,$57766550,$57776750,$57766755,$57776675,$57766675
	dc.l $57776675,$57767655,$55776755,$75577755,$67557550,$77755500,$55550000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000055,$00000557,$00000557,$00000577
	dc.l $00005775,$00005555,$00005576,$00005577,$00005557,$00000777,$00000557,$00000577
	dc.l $00000555,$00000057,$00000055,$00000005,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$55555000,$77555500,$66767555,$77666755
	dc.l $57776667,$55577766,$77555776,$66675777,$66675776,$66667577,$67667577,$76667757
	dc.l $76666757,$77666755,$55766675,$57776666,$55557766,$05775555,$00555555,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$50000000
	dc.l $55000000,$55500000,$67500000,$67550000,$66775000,$76675000,$66675500,$77765500
	dc.l $76675500,$77775500,$55575500,$77555000,$77550000,$55500000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00005555,$00055557,$00577776,$05576666
	dc.l $05577777,$00577555,$00575555,$00557666,$00557766,$00057576,$00055777,$00005577
	dc.l $00005577,$00000555,$00000055,$00000005,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$55000000,$75555000,$67755550,$66667775
	dc.l $77776677,$57777766,$55577766,$67757776,$66775777,$66677577,$76667757,$76666775
	dc.l $76666677,$77776666,$55577777,$55755555,$00557755,$00055550,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$55000000
	dc.l $55500000,$77550000,$66755000,$66655000,$77675500,$77775000,$77775000,$55555000
	dc.l $77755000,$67750000,$77500000,$55000000,$50000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00055555,$00555777,$05556666
	dc.l $55777677,$57667777,$57777555,$55755577,$55757666,$05557666,$00557777,$00055577
	dc.l $00005575,$00000555,$00000005,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00050000,$55555555,$76677777,$67666666
	dc.l $77776766,$77777767,$55577777,$77755777,$66677555,$66666777,$77666666,$67767666
	dc.l $77677677,$55775775,$55555577,$00555555,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$50000000,$55500000,$77550000
	dc.l $67755000,$76755000,$67775000,$75555000,$55775000,$76775000,$66750000,$77550000
	dc.l $75550000,$55500000,$75000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000055,$00005557,$00555776
	dc.l $05557667,$05566677,$55576775,$55767755,$57677557,$55775576,$55575766,$05575777
	dc.l $00555575,$00005555,$00000005,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00055555,$55557775,$55776666,$66666667,$76767676
	dc.l $77777777,$77777777,$55555555,$77777777,$66666666,$66666666,$66767676,$77676777
	dc.l $77777757,$75757555,$55555500,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$55000000,$55500000,$77550000,$67750000,$77555000
	dc.l $75575000,$55775000,$57675000,$76755000,$66755000,$67555000,$75550000,$75750000
	dc.l $57500000,$55000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
SPRDEF_Coffee_Pal1:
	dc.w COMPRESSION_None
	dc.w 23	;Number of cells
	dc.l $00000000,$00000000,$00000000,$00666600,$06555550,$65500055,$65000065,$55000065
	dc.l $55000065,$55000065,$05566655,$00555550,$00000000,$00000000,$00000000,$00000000
	dc.l $00000055,$00000005,$00000055,$00555566,$05556668,$05665558,$55666665,$56668888
	dc.l $56688888,$56868888,$56688888,$56868888,$56686888,$05566868,$00055686,$00000555
	dc.l $55000000,$50000000,$55500000,$66855555,$68685585,$88558888,$55888888,$88888885
	dc.l $88888888,$88888885,$88888858,$88888585,$88885858,$85858555,$58555550,$55555000
	dc.l $00000000,$00000000,$00000000,$00000055,$00000555,$50055550,$50558500,$85585500
	dc.l $55885000,$85855000,$58550000,$85550000,$55500000,$50000000,$00000000,$00000000
	dc.l $00000000,$00000011,$00000122,$00001222,$00012222,$00122222,$01222222,$01222222
	dc.l $01222222,$12222222,$12222222,$12222223,$12222223,$12222223,$12222223,$01222223
	dc.l $01222222,$01222222,$00122222,$00012222,$00001222,$00000122,$00000011,$00000000
	dc.l $01111110,$12222221,$22222222,$22222222,$22222222,$22222222,$22222222,$22233333
	dc.l $22333333,$23333333,$33333333,$33333333,$33333333,$33333444,$33334444,$33334444
	dc.l $33333444,$23333333,$22333333,$22233333,$22222222,$22222222,$12222221,$01111110
	dc.l $00000000,$11000000,$22100000,$22210000,$22221000,$22222100,$22222210,$22222210
	dc.l $32222210,$33222221,$33322221,$33332221,$33332221,$33332221,$43332221,$43332210
	dc.l $33322210,$33222210,$32222100,$22221000,$22210000,$22100000,$11000000,$00000000
	dc.l $00000000,$00000000,$06666666,$77777777,$06666666,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$66666660,$77777777,$66666660,$00000000,$00000000,$00000000
	dc.l $00000000,$00444444,$03333333,$33333333,$03333333,$00444444,$00000000,$00000000
	dc.l $00000000,$44444400,$33333330,$33333333,$33333330,$44444400,$00000000,$00000000
	dc.l $00000000,$00444444,$03333333,$22222222,$22222222,$22222222,$03333333,$00444444
	dc.l $00000000,$44444400,$33333330,$22222222,$22222222,$22222222,$33333330,$44444400
SPRDEF_Coffee_Editor:
	dc.w COMPRESSION_None
	dc.w 16	;Number of cells
	dc.l $01111111,$12222222,$12222221,$12222211,$12222111,$12222221,$12222221,$12222221
	dc.l $12222221,$12222221,$12222221,$12222111,$12222211,$12222221,$12222222,$01111111
	dc.l $11111110,$22222221,$12222221,$11222221,$11122221,$12222221,$12222221,$12222221
	dc.l $12222221,$12222221,$12222221,$11122221,$11222221,$12222221,$22222221,$11111110
	dc.l $01111111,$12222222,$12222222,$12222222,$12222222,$12212222,$12211122,$12222111
	dc.l $12222211,$12221112,$12221222,$12211222,$12112222,$12222222,$12222222,$01111111
	dc.l $11111110,$22222221,$22222221,$22222221,$22222221,$22222221,$11112221,$12211221
	dc.l $22221121,$22222221,$22222221,$22222221,$22222221,$22222221,$22222221,$11111110
	dc.l $01111111,$12222222,$12222222,$12222222,$12222222,$12222222,$12222221,$12222211
	dc.l $12222111,$12222221,$12222221,$12222221,$12222221,$12222221,$12222222,$01111111
	dc.l $11111110,$22222221,$22222221,$22222221,$22222221,$22222221,$12222221,$11222221
	dc.l $11122221,$12222221,$12222221,$12222221,$12222221,$12222221,$22222221,$11111110
	dc.l $01111111,$12222222,$12222233,$12223322,$12232222,$12232222,$12322222,$12322222
	dc.l $12322222,$12322222,$12232222,$12232222,$12223322,$12222233,$12222222,$01111111
	dc.l $11111110,$22222221,$33222221,$22332221,$22223221,$22223221,$22222321,$22222321
	dc.l $22223321,$22223321,$22233221,$22233221,$23332221,$33222221,$22222221,$11111110
SPRDEF_Underground_Editor:
	dc.w COMPRESSION_None
	dc.w 57	;Number of cells
	dc.l $00000000,$00000000,$00000000,$00000011,$00000144,$00000111,$00000015,$00000001
	dc.l $00000000,$00000011,$00000175,$00000011,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$11000001,$44100015,$11710155,$55471155,$11547151
	dc.l $11114155,$11111117,$55551111,$55555571,$11555111,$01111110,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$11000000,$55100000,$51110000,$11110000,$16160000
	dc.l $32310000,$33831000,$17189100,$11011000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000001,$00000001,$00000001,$00000000,$00000001
	dc.l $00000000,$00000001,$00000013,$00000001,$00000001,$00000012,$00000133,$00000131
	dc.l $00000000,$00011111,$11112222,$31133223,$11111111,$41141123,$11111133,$22223331
	dc.l $23232311,$32131121,$11121111,$18181123,$33838323,$32222333,$23333332,$13321132
	dc.l $00000000,$10000000,$21000000,$12100000,$32100000,$33100000,$32210000,$33210000
	dc.l $82110000,$13100000,$13210000,$13310000,$32310000,$33321000,$31231000,$21122000
	dc.l $11000000,$95111111,$19999999,$11111111,$15555555,$01111111,$00015551,$00011111
	dc.l $00000000,$11111111,$99911111,$11199999,$55511111,$11155555,$71111111,$11000000
	dc.l $00000000,$11111111,$11111999,$99999111,$11111555,$55555111,$11111117,$00000011
	dc.l $00000011,$11111159,$99999991,$11111111,$55555551,$11111110,$15551000,$11111000
	dc.l $11111111,$19777747,$19977744,$11977774,$01177777,$00119777,$00019911,$00001100
	dc.l $11111111,$77447791,$77747991,$44777991,$77777441,$77799410,$19111110,$11100000
	dc.l $AAAAAAAA,$AAABAAAA,$AAAAAAAA,$0AAAAAAA,$000000AA,$00000000,$00000000,$00000000
	dc.l $AAAAAAA0,$AABAABA0,$AAAAAAA0,$ABAAAA00,$A00AA000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00001110,$00011DD1,$00011111,$001D1111,$001D1111
	dc.l $01111111,$00001111,$00000001,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00100010,$01E111E1,$11CDDDC1,$1D81182D,$D911119D
	dc.l $1D911911,$11DDDDD1,$11111111,$11111111,$00111110,$00110110,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00111000,$01DD1100,$11111100,$11111D00,$11111D00
	dc.l $11111100,$11111000,$11000000,$10000000,$00000000,$00000000,$00000000,$00000000
	dc.l $EEEEEEEE,$EEEFEECE,$EEEEEECE,$FEEFEEEE,$FEEEFEEE,$FEEEFEEE,$0EE00FE0,$00E00000
	dc.l $EEEEEEEE,$EEEECECE,$EFEECEEE,$EFEEEFEE,$EEFEEFEE,$00FEEFEE,$00EE0FEE,$00000000
	dc.l $EEEEEEEE,$EEEEEEEE,$FEEEEECE,$FEEFEECE,$FEEEEEEE,$EFEEFEE0,$0EE0FEE0,$00000000
	dc.l $EEEEEEEE,$EEEEEEEC,$FEEEFEEC,$EEEEFEEC,$FEEEEFEE,$FEEEEFE0,$FEEEE0E0,$0FE00000
	dc.l $00000000,$00000000,$0000000E,$000000EE,$00000EE6,$0000EE66,$000EE666,$000CEEEE
	dc.l $0000CEEE,$00000CEE,$000000CE,$0000000C,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$C0000000,$EC000000,$EEC00000,$EEEC0000,$EEEEC000,$CCCCD000
	dc.l $CCCD0000,$CCD00000,$CD000000,$D0000000,$00000000,$00000000,$00000000,$00000000
	dc.l $0000C000,$0000CCC0,$00000CCC,$000001C1,$00007433,$00074637,$00746347,$07433333
	dc.l $07433333,$07334117,$04331111,$04341117,$04334114,$29433444,$29992244,$0C888328
	dc.l $0C000000,$CC000000,$C1000000,$C1000000,$33370000,$14447000,$64446100,$34774410
	dc.l $34114410,$41117710,$41111710,$41111710,$11111471,$71117441,$447749C2,$83C83882
	dc.l $28838C38,$2C947744,$14471117,$17411111,$01711114,$01711114,$01771114,$01441143
	dc.l $01447743,$00164446,$00074441,$00007333,$0000001C,$0000001C,$000000CC,$000000C0
	dc.l $823888C0,$44229992,$44433492,$41143340,$71114340,$11113340,$71143370,$33333470
	dc.l $33333470,$74364700,$73647000,$33470000,$1C100000,$CCC00000,$0CCC0000,$000C0000
	dc.l $0000C000,$0000CCC0,$00000CCC,$000001C1,$00007433,$00074637,$00746347,$07433333
	dc.l $07433333,$07334117,$04331111,$04341117,$04334114,$24341117,$24341117,$24341117
	dc.l $24341117,$24341117,$24341117,$24341117,$24341117,$24341117,$24341117,$24341117
	dc.l $24341117,$24341117,$24341117,$24334114,$29433444,$29992244,$1C888328,$12222222
	dc.l $0C000000,$CC000000,$C1000000,$C1000000,$33370000,$14447000,$64446100,$34774410
	dc.l $34114410,$41117710,$41111710,$41111710,$11111471,$41111711,$41111711,$41111711
	dc.l $41111711,$41111711,$41111711,$41111711,$41111711,$41111711,$41111711,$41111711
	dc.l $41111711,$41111711,$41111711,$11111471,$71117441,$447749C2,$83C83882,$22222221
	dc.l $00000000,$06000060,$00600600,$00066000,$00066000,$00600600,$06000060,$00000000
	dc.l $00000000,$00000000,$11111000,$18881100,$18188110,$18118811,$18111811,$18111810
	dc.l $18111810,$18111811,$18118811,$18888110,$18811100,$11110000,$00000000,$00000000
	dc.l $13333336,$13333366,$13333666,$13333336,$13333336,$01133336,$00011111,$00000000
	dc.l $63333331,$66333331,$66633331,$63333331,$63333331,$63333110,$11111000,$00000000
	dc.l $1EEEEEE6,$1EEEEE66,$1EEEE666,$1EEEEEE6,$1EEEEEE6,$011EEEE6,$00011111,$00000000
	dc.l $6EEEEEE1,$66EEEEE1,$666EEEE1,$6EEEEEE1,$6EEEEEE1,$6EEEE110,$11111000,$00000000
SPRDEF_Coffee_Pal0_HUD:
	dc.w COMPRESSION_None
	dc.w 80	;Number of cells
	dc.l $01111100,$13333310,$13313310,$13313310,$13313310,$13333310,$01111100,$00000000
	dc.l $00111000,$01331000,$01331000,$00131000,$00131000,$01333100,$01111100,$00000000
	dc.l $11111100,$11333310,$00113310,$00133100,$01331000,$13333110,$11111110,$00000000
	dc.l $01111100,$13333310,$01113310,$00133100,$01113310,$13333310,$01111100,$00000000
	dc.l $00111110,$01333310,$13333310,$13313310,$13333310,$11113310,$00001110,$00000000
	dc.l $11111110,$13333310,$13311100,$13333110,$01113310,$13333310,$11111110,$00000000
	dc.l $01111100,$13333100,$13311100,$13333100,$13313310,$13333310,$01111100,$00000000
	dc.l $11111110,$13333310,$11113310,$00133100,$00133100,$00131000,$00111000,$00000000
	dc.l $01111100,$13333310,$13313310,$01333100,$13313310,$13333310,$01111100,$00000000
	dc.l $01111100,$13333310,$13313310,$01333310,$00113310,$01333310,$01111100,$00000000
	dc.l $01100110,$12211221,$12222221,$12222221,$12222221,$01222210,$00122100,$00011000
	dc.l $01100110,$15511551,$15555551,$15555551,$15555551,$01555510,$00155100,$00011000
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$4CCCCCCC,$2DDDDDDD,$2DDDDDDD,$2DDDDDDD,$2DDDDDDD,$4CCCCCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$44CCCCCC,$22DDDDDD,$22DDDDDD,$22DDDDDD,$22DDDDDD,$44CCCCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$444CCCCC,$222DDDDD,$222DDDDD,$222DDDDD,$222DDDDD,$444CCCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$4444CCCC,$2222DDDD,$2222DDDD,$2222DDDD,$2222DDDD,$4444CCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$44444CCC,$22222DDD,$22222DDD,$22222DDD,$22222DDD,$44444CCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$444444CC,$222222DD,$222222DD,$222222DD,$222222DD,$444444CC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$4444444C,$2222222D,$2222222D,$2222222D,$2222222D,$4444444C,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$4CCCCCCC,$2DDDDDDD,$2DDDDDDD,$2DDDDDDD,$2DDDDDDD,$4CCCCCCC,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$44111111,$22DDDDDD,$22DDDDDD,$22DDDDDD,$22DDDDDD,$44CCCCCC,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$444CCCCC,$222DDDDD,$222DDDDD,$222DDDDD,$222DDDDD,$444CCCCC,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$4444CCCC,$2222DDDD,$2222DDDD,$2222DDDD,$2222DDDD,$4444CCCC,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$44444CCC,$22222DDD,$22222DDD,$22222DDD,$22222DDD,$44444CCC,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$444444CC,$222222DD,$222222DD,$222222DD,$222222DD,$444444CC,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$4444444C,$2222222D,$2222222D,$2222222D,$2222222D,$4444444C,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$44444444,$22222222,$22222222,$22222222,$22222222,$44444444,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$6CCCCCCC,$7DDDDDDD,$7DDDDDDD,$7DDDDDDD,$7DDDDDDD,$6CCCCCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$66CCCCCC,$77DDDDDD,$77DDDDDD,$77DDDDDD,$77DDDDDD,$66CCCCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$666CCCCC,$777DDDDD,$777DDDDD,$777DDDDD,$777DDDDD,$666CCCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$6666CCCC,$7777DDDD,$7777DDDD,$7777DDDD,$7777DDDD,$6666CCCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$66666CCC,$77777DDD,$77777DDD,$77777DDD,$77777DDD,$66666CCC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$666666CC,$777777DD,$777777DD,$777777DD,$777777DD,$666666CC,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$6666666C,$7777777D,$7777777D,$7777777D,$7777777D,$6666666C,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$CCCCCCCC,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$DDDDDDDD,$CCCCCCCC,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$6CCCCCCC,$7DDDDDDD,$7DDDDDDD,$7DDDDDDD,$7DDDDDDD,$6CCCCCCC,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$66CCCCCC,$77DDDDDD,$77DDDDDD,$77DDDDDD,$77DDDDDD,$66CCCCCC,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$666CCCCC,$777DDDDD,$777DDDDD,$777DDDDD,$777DDDDD,$666CCCCC,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$6666CCCC,$7777DDDD,$7777DDDD,$7777DDDD,$7777DDDD,$6666CCCC,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$66666CCC,$77777DDD,$77777DDD,$77777DDD,$77777DDD,$66666CCC,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$666666CC,$777777DD,$777777DD,$777777DD,$777777DD,$666666CC,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$6666666C,$7777777D,$7777777D,$7777777D,$7777777D,$6666666C,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
	dc.l $11111111,$66666666,$77777777,$77777777,$77777777,$77777777,$66666666,$11111111
SPRDEF_TD_Pal0_Tunnels:
	dc.w COMPRESSION_None
	dc.w 32	;Number of cells
	dc.l $0BBB0BB0,$BCBBBBBB,$BCBBBBBB,$0BBBCBBC,$0BBBBBBC,$BBBBB1BB,$0BCCBBBB,$0BCBBBBB
	dc.l $BBBBBBBB,$0BCCBB1C,$0BBCBBCB,$0BBBBBBB,$0BBBBBBB,$BB1CCBCB,$BCBBBBBB,$BB0BB00B
	dc.l $BBB0BB00,$CBBBBBB0,$BBBBB1C0,$BBBCBBBB,$CBBCBBBB,$BBBBBBB0,$BBBBBBBB,$BCBBBC00
	dc.l $BBBBBBB0,$BBBCBBBB,$BBBBBB10,$BBBBBCB0,$BC1BBCBB,$BBBBBBBB,$BCBBBBBB,$BBB00BB0
	dc.l $C000CCCC,$CCCCCCCC,$CCCCCCCC,$CCDDDCCC,$0CCCCCCC,$CCCCC1CC,$CCCDCCCC,$CCCDCCCC
	dc.l $0CDDCCCC,$0CDDCC1C,$0CDDCCCC,$CCCCCCCC,$CCCCCCCC,$CC1CCCDD,$00CCCCCC,$CCCC0CCC
	dc.l $C00C000C,$CCCCCCC0,$CCCCC1C0,$CCCCCCC0,$DDCCCCC0,$CCCCCCC0,$CCCCDCCC,$CDDDDCCC
	dc.l $CCCCCCC0,$CCCCCCCC,$CCCCCC00,$CCCCCCC0,$CC1CCCCC,$CCCCCCCC,$CCCCCCCC,$C000CCC0
	dc.l $DDDD0D00,$DCDDDDDD,$DCDDDDDD,$DDDDCDDC,$DDDDDDDC,$DDDDD1DD,$0DEEDDDD,$DDEEDDDD
	dc.l $DDDDDDED,$0DCCDDEC,$0DDCDDED,$0DDDDDED,$DDDDEEEE,$DD1CCDCD,$DCDDDDDD,$DDDD0000
	dc.l $DDDD00DD,$CDDDDD00,$DDDDD1CD,$DDDCDDDD,$CDDCDDD0,$DDDDDDD0,$DDDDDDDD,$DCDDDCD0
	dc.l $DDDDDED0,$DDDCDDDD,$DDDDDD1D,$DDDDDCD0,$DC1DDCD0,$DDDDDDDD,$DCDDDDDD,$0D000DDD
	dc.l $E00000E0,$ECEEEEEE,$ECEEDEEE,$E0EEDDDD,$0EEEEEED,$0EEEE1ED,$EECCEEEE,$CECEEEEC
	dc.l $CEEEEEEE,$EEDDCE1C,$0EDDDECE,$0EEECCEE,$EEEEEDEE,$EE1CDDDD,$ECEEDDEE,$E0EEE0EE
	dc.l $EEEEE00E,$CEEEEE0E,$EEEDE1DE,$EEEDEED0,$CEECEED0,$EEEEDEDE,$EEEEDEDE,$ECEDDC00
	dc.l $EEEEEEEE,$EDECEEEE,$EDEEED10,$EDEEECD0,$ED1EECD0,$DDEEEDD0,$ECEEEEEE,$000EE0EE
	dc.l $00000BBB,$000BBBBB,$00BBBBBB,$0BBBCBBC,$0BBBBBBC,$BBBBB1BB,$BBCCBBBB,$BBCBBBBB
	dc.l $BBBBBBBB,$BBCCBB1C,$BBBCBBCB,$BBBBBBBB,$BBBBBBBB,$BB1CCBCB,$BCBBBBBB,$BBBBBBBB
	dc.l $BBBBBBBB,$CBBBBBBB,$BBBBB1CB,$BBBCBBBB,$CBBCBBBB,$BBBBBBBB,$BBBBBBBB,$BCBBBCBB
	dc.l $BBBBBBBB,$BBBCBBBB,$BBBBBB1B,$BBBBBCBB,$BC1BBCBB,$BBBBBBBB,$BCBBBBBB,$BBBBBBB0
	dc.l $0000000C,$000000CC,$0000CCCC,$000DDCCC,$00CCCCCC,$00CCC1CC,$0CCDCCCC,$0CCDCCCC
	dc.l $CCDDCCCC,$CCDDCC1C,$CCDDCCCC,$CCCCCCCC,$CCCCCCCC,$CC1CCCDD,$CCCCCCCC,$CCCCCCCC
	dc.l $CCCCCCCC,$CCCCCCCC,$CCCCC1CC,$CCCCCCCC,$DDCCCCCC,$CCCCCCCC,$CCCCDCCC,$CDDDDCCC
	dc.l $CCCCCCCC,$CCCCCCCC,$CCCCCC1C,$CCCCCCCC,$CC1CCCCC,$CCCCCCCC,$CCCCCCCC,$CCCCCCC0
	dc.l $00000000,$00000DDD,$000DDDDD,$00DDCDDC,$00DDDDDC,$0DDDD1DD,$0DEEDDDD,$DDEEDDDD
	dc.l $DDDDDDED,$DDCCDDEC,$DDDCDDED,$DDDDDDED,$DDDDEEEE,$DD1CCDCD,$DCDDDDDD,$DDDDDDDD
	dc.l $DDDDDDDD,$CDDDDDDD,$DDDDD1CD,$DDDCDDDD,$CDDCDDDD,$DDDDDDDD,$DDDDDDDD,$DCDDDCDD
	dc.l $DDDDDEDD,$DDDCDDDD,$DDDDDD1D,$DDDDDCDD,$DC1DDCDD,$DDDDDDDD,$DCDDDDDD,$DDDDDDD0
	dc.l $00000EEE,$000EEEEE,$0CEEDEEE,$0EEEDDDD,$0EEEEEED,$EEEEE1ED,$EECCEEEE,$CECEEEEC
	dc.l $CEEEEEEE,$EEDDCE1C,$EEDDDECE,$EEEECCEE,$EEEEEDEE,$EE1CDDDD,$ECEEDDEE,$EEEEEEEE
	dc.l $EEEEEEEE,$CEEEEEDE,$EEEDE1DE,$EEEDEEDE,$CEECEEDE,$EEEEDEDE,$EEEEDEDE,$ECEDDCEE
	dc.l $EEEEEEEE,$EDECEEEE,$EDEEED1E,$EDEEECDE,$ED1EECDE,$DDEEEDDE,$ECEEEEEE,$EEEEEEE0
SPRDEF_TD_Pal0_HudMeter_VDP:
	dc.w COMPRESSION_None
	dc.w 132	;Number of cells
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$27777777,$27777777,$27777777,$37777777,$37777777,$37777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22777777,$22777777,$22777777,$33777777,$33777777,$33777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22277777,$22277777,$22277777,$33377777,$33377777,$33377777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22227777,$22227777,$22227777,$33337777,$33337777,$33337777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222777,$22222777,$22222777,$33333777,$33333777,$33333777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222277,$22222277,$22222277,$33333377,$33333377,$33333377,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222227,$22222227,$22222227,$33333337,$33333337,$33333337,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$27777777,$27777777,$27777777,$37777777,$37777777,$37777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22777777,$22777777,$22777777,$33777777,$33777777,$33777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22277777,$22277777,$22277777,$33377777,$33377777,$33377777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22227777,$22227777,$22227777,$33337777,$33337777,$33337777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222777,$22222777,$22222777,$33333777,$33333777,$33333777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222277,$22222277,$22222277,$33333377,$33333377,$33333377,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222227,$22222227,$22222227,$33333337,$33333337,$33333337,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$27777777,$27777777,$27777777,$37777777,$37777777,$37777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22777777,$22777777,$22777777,$33777777,$33777777,$33777777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22277777,$22277777,$22277777,$33377777,$33377777,$33377777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22227777,$22227777,$22227777,$33337777,$33337777,$33337777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222777,$22222777,$22222777,$33333777,$33333777,$33333777,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222277,$22222277,$22222277,$33333377,$33333377,$33333377,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222227,$22222227,$22222227,$33333337,$33333337,$33333337,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$77777777,$77777777,$77777777,$77777777,$77777777,$77777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$27777777,$27777777,$27777777,$37777777,$37777777,$37777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22777777,$22777777,$22777777,$33777777,$33777777,$33777777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22277777,$22277777,$22277777,$33377777,$33377777,$33377777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22227777,$22227777,$22227777,$33337777,$33337777,$33337777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222777,$22222777,$22222777,$33333777,$33333777,$33333777,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222277,$22222277,$22222277,$33333377,$33333377,$33333377,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222227,$22222227,$22222227,$33333337,$33333337,$33333337,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
	dc.l $11111111,$22222222,$22222222,$22222222,$33333333,$33333333,$33333333,$11111111
SPRDEF_Coffee_Pal0_SoftwareSprite:
	dc.w COMPRESSION_None
	dc.w 16	;Number of cells
	dc.l $00000000,$00000000,$00000000,$00000000,$00000008,$00000008,$00000088,$00000088
	dc.l $00000088,$00000884,$00000888,$00008884,$00008848,$00008884,$00008844,$00008884
	dc.l $00008844,$00008884,$00008844,$00008884,$00000888,$00000884,$00000888,$00000084
	dc.l $00000088,$00000084,$00000008,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$00000000,$00888888,$08884444,$88444422,$88444242,$88884422,$88888844
	dc.l $48488884,$84448888,$44424888,$44222488,$44422228,$42222224,$44222224,$42222224
	dc.l $44222224,$42222224,$44222224,$42422224,$44222224,$44422224,$44222224,$44422224
	dc.l $44242222,$84424222,$84844422,$08884844,$00888888,$00008888,$00000000,$00000000
	dc.l $00000000,$00000000,$88000000,$48888000,$24488800,$22248800,$42244880,$24244888
	dc.l $44222488,$44242488,$88424448,$88442244,$88444222,$88442222,$88444222,$88442222
	dc.l $88444222,$88442222,$88444222,$88442222,$88444222,$88442422,$88844242,$88844422
	dc.l $48888444,$44888848,$22488884,$44444888,$88888888,$88888800,$00000000,$00000000
	dc.l $00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000,$00000000
	dc.l $00000000,$80000000,$80000000,$88000000,$48800000,$48800000,$48880000,$48880000
	dc.l $44480000,$24880000,$24480000,$24880000,$24480000,$24880000,$24480000,$44880000
	dc.l $88880000,$48880000,$88800000,$88000000,$00000000,$00000000,$00000000,$00000000


SPRPAL_DEBUG:
	dc.w $38e,$3fe,$2da,$246,$2c4,$3e2,$25e,$ce,$2e,$a,$86,$1b8,$0,$220,$6e,$3f2
SPRPAL_Coffee_Pal0_Bean3:
	dc.w $38e,$0,$a,$3fe,$8,$26,$4a,$38,$14,$16,$36c,$7e,$2da,$124,$36e,$36e
SPRPAL_Sprites_MusicPlayer:
	dc.w $38e,$0,$ee,$ce,$25e,$138,$3fe,$36e,$36e,$36e,$36e,$36e,$36e,$36e,$36e,$36e
SPRPAL_Scramble_Sprites:
	dc.w $38e,$254,$3fc,$3fe,$2e8,$5e,$9c,$17e,$9a,$132,$1a4,$3fc,$2c8,$92,$86,$82
SPRPAL_Underground_Pal1:
	dc.w $38e,$0,$86,$a,$2e,$220,$3fe,$1b8,$ce,$6e,$25e,$3e2,$2c4,$3f2,$324,$36e
SPRPAL_Underground_Pal1_TileSprites:
	dc.w $38e,$0,$86,$a,$2e,$220,$3fe,$1b8,$ce,$6e,$25e,$3e2,$2c4,$3f2,$324,$36e
SPRPAL_Underground_Pal2:
	dc.w $38e,$50,$3fe,$20,$36c,$27e,$2da,$16e,$124,$36e,$36e,$36e,$36e,$36e,$36e,$36e
SPRPAL_Underground_Pal1_HUD:
	dc.w $38e,$0,$86,$a,$2e,$220,$3fe,$1b8,$ce,$6e,$25e,$3e2,$2c4,$3f2,$324,$36e
SPRPAL_TD_Pal0:
	dc.w $38e,$0,$c,$ac,$140,$3a4,$1d0,$192,$3fe,$3fc,$3ec,$4a,$38,$26,$14,$36e
SPRPAL_TD_Pal1:
	dc.w $38e,$0,$b4,$c6,$22,$1ec,$10,$a4,$b6,$390,$3c6,$3c8,$168,$346,$3e2,$36e
SPRPAL_Coffee_Pal0:
	dc.w $38e,$0,$a,$3fe,$8,$26,$4a,$38,$14,$16,$36c,$7e,$2da,$124,$36e,$36e
SPRPAL_Coffee_Pal0_Bean1:
	dc.w $38e,$0,$a,$3fe,$8,$26,$4a,$38,$14,$16,$36c,$7e,$2da,$124,$36e,$36e
SPRPAL_Coffee_Pal0_Bean2:
	dc.w $38e,$0,$a,$3fe,$8,$26,$4a,$38,$14,$16,$36c,$7e,$2da,$124,$36e,$36e
SPRPAL_Coffee_Pal1:
	dc.w $38e,$3fe,$6e,$4e,$3e,$390,$3c0,$3e0,$3b0,$0,$36e,$36e,$36e,$36e,$36e,$36e
SPRPAL_Coffee_Editor:
	dc.w $38e,$3fe,$230,$7e,$36e,$36e,$36e,$36e,$36e,$36e,$36e,$36e,$36e,$36e,$36e,$36e
SPRPAL_Underground_Editor:
	dc.w $38e,$0,$1b8,$25e,$2e,$86,$3fe,$a,$6e,$ce,$50,$20,$2c4,$220,$3e2,$3f2
SPRPAL_Coffee_Pal0_HUD:
	dc.w $38e,$0,$a,$3fe,$8,$26,$4a,$38,$14,$16,$36c,$7e,$2da,$124,$36e,$36e
SPRPAL_TD_Pal0_Tunnels:
	dc.w $38e,$0,$c,$ac,$140,$3a4,$1d0,$192,$3fe,$3fc,$3ec,$4a,$38,$26,$14,$36e
SPRPAL_TD_Pal0_HudMeter_VDP:
	dc.w $38e,$0,$c,$ac,$140,$3a4,$1d0,$192,$3fe,$3fc,$3ec,$4a,$38,$26,$14,$36e
SPRPAL_Coffee_Pal0_SoftwareSprite:
	dc.w $38e,$0,$a,$3fe,$8,$26,$4a,$38,$14,$16,$36c,$7e,$2da,$124,$36e,$36e
